body {
    font-family: "MyriadArabic" !important;
}

h1, h2, h3, h4, h5, h6, input, textarea {
    font-family: "MyriadArabic" !important;
}

.navbar-nav {
    justify-content: flex-end;
}

main {
    margin-top: 50px;
    padding: 20px;
}

.breadcrumb-item + .breadcrumb-item::before {
    margin-left: 0.5rem;
}