
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/lib/datepicker/kamadatepicker.min.css" rel="stylesheet" />
<script src="~/lib/datepicker/kamadatepicker.min.js"></script>

@{
    ViewData["Title"] = "مدیریت هییٔت ها - پنل ادمین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="app" v-cloak>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">صفحه اصلی پنل ادمین </a></li>
        <li class="breadcrumb-item active">مدیریت هییٔت ها</li>
    </ol>

    <div class="row">
        <div class="col-xl-12 col-12 mb-4 mb-xl-0">
            <div class="text-right">
                <button class="btn btn-outline-dark" v-on:click="openModal()">اضافه نمودن هییٔت جدید </button>
            </div>
            <h3 class="text-muted text-center mb-3">لیست هییٔت های ثبت شده </h3>
            <p class="text-right">تعداد کل هیئت های ثبت شده : {{search.totalRows}}</p>
            <table class="table table-striped bg-light text-center ">
            <thead>
                <tr class="text-muted">
                    <th>#</th>
                    <th>نام هییٔت </th>
                    <th>نام  محله </th>                   
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>               
                <tr v-for="(item , index) in search.data">
                    <td>{{++index}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.locationTitle}}</td>
                    <td>
                        <button data-role="delete" :data-id="item.id" v-on:click="deleteHeiat(item.id)" type="button"  class="btn btn-danger ladda-button" data-style="slide-right">
                            <span class="ladda-label">حذف</span>                           
                        </button>
                        <button v-on:click="detail(item)" class="btn btn-warning">
                            مشاهده جزئیات
                        </button>
                    </td>
                </tr>               
            </tbody>
            </table>
        </div>
        <div class="text-center cleadrfix col-xl-12 col-12 mb-4 mb-xl-0" v-if="search.currentPage!=search.totalPages">
            <button style="width:200px;" class="btn btn-success" v-on:click="moreData()" >
                <span class="fa fa-spin fa-spinner" v-if="loading"></span>
                <span  v-if="!loading">نمایش اطلاعات بیشتر </span>
            </button>
        </div>
    </div>

    <div class="modal fade " id="modalAdd">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" v-if="status=='add'">اضافه نمودن هییٔت جدید </h4>                
                <h4 class="modal-title" v-if="status=='detail'">مشاهده  نمودن جزئیات هییٔت  </h4>                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="max-height:500px;height:400px;">                
                <div class="row">
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>نام هییٔت را وارد کنید</label>
                            <input type="text" v-model="model.name" class="form-control" placeholder="نام هییٔت">
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>تاریخ تاسیس  هییٔت را وارد کنید</label>
                            <input id="time"  type="text" class="form-control" placeholder="تاریخ تاسیس هییٔت">
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>شماره ثبت را وارد کنید</label>
                            <input type="number" v-model="model.registrationNumber" class="form-control" placeholder="شماره ثبت">
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>محل ثبت را وارد کنید</label>
                            <input type="text" v-model="model.registrationLocation" class="form-control" placeholder="محل ثبت">
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>نام مسئول هییٔت را وارد کنید</label>
                            <input type="text" v-model="model.managerName" class="form-control" placeholder="نام مسئول هییٔت">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>شماره تماس مسئول هییٔت را وارد کنید</label>
                            <input type="number" v-model="model.managerPhoneNumber" class="form-control" placeholder="شماره تماس مسئول هییٔت">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>شماره تماس یکی از امناء را وارد کنید</label>
                            <input type="number" v-model="model.contactPhoneNumber" class="form-control" placeholder="شماره تماس یکی از امناء">
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label>نام اعضای امناء را وارد کنید</label>
                            <input type="text" v-model="model.contactNames" class="form-control" placeholder="نام اعضای امناء">
                        </div>
                    </div>
                </div> 
                <hr />  
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>مسئول رسانه و روابط عمومی را وارد کنید</label>
                            <input type="text" v-model="model.mediaManagerFullName" class="form-control" placeholder="مسئول رسانه و روابط عمومی">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>شماره تماس  را وارد کنید</label>
                            <input type="number" v-model="model.mediaManagerPhoneNumber" class="form-control" placeholder="شماره تماس">
                        </div>
                    </div>                                     
                </div>
                <hr />
                <p class="font-weight-bold text-right">نحوه شکل گیری هیئت</p>
                <div class="row">                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isLocal" class="form-check-input" value="">محله ای
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isEthnicity" class="form-check-input" value="">قومیتی
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isGuild" class="form-check-input" value="">صنفی
                        </label>
                    </div>                                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isOfficial" class="form-check-input" value="">اداری یا سازمانی
                        </label>
                    </div>                                    
                </div>           
                <hr />
                <p class="font-weight-bold text-right">نحوه  عزاداری</p>
                <div class="row">                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isBreastplate" class="form-check-nput" value=""> سینه زنی
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isChainsaw" class="form-check-input" value="">زنجیر زنی
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isPassionReading" class="form-check-input" value="">تعزیه خوانی
                        </label>
                    </div>                                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isResemblance" class="form-check-input" value=""> شبیه خوانی 
                        </label>
                    </div>   
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">                           
                            <input type="text" v-model="model.andOther" class="form-control" placeholder="و یا .... ">
                        </div>
                    </div>                                 
                </div>   
                <hr />
                <p class="font-weight-bold text-right">زمان بندی و شرح اجرای مراسم</p>
                <div class="row">                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input v-model="model.isWeekly" type="checkbox" class="form-check-input" value="">  هفتگی
                        </label>
                    </div>
                    <div class="form-group mr-1">
                        <select v-model="model.weekDay" class="form-control">
                            <option value="">روز را انتخاب کنید </option>
                            <option value="شنبه">شنبه</option>
                            <option value="یکشنبه">یکشنبه</option>
                            <option value="دو شنبه">دوشنبه </option>
                            <option value="سه شنبه">سه شنبه </option>
                            <option value="چهار شنبه">چهار شنبه </option>
                            <option value="پنج شنبه">پنج شنبه </option>
                        </select>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isMonthly" class="form-check-input" value=""> ماهانه
                        </label>
                    </div>
                    <div class="form-group mr-1">                           
                        <input type="text" v-model="model.monthDay" class="form-control" placeholder="روز ماهانه">
                    </div> 
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isYearly" class="form-check-input" value="">سالانه
                        </label>
                    </div>   
                     <div class="form-group mr-1">                           
                        <input type="text" v-model="model.yearDay" class="form-control" placeholder="ایام سال">
                    </div>                                  
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isDeally" class="form-check-input" value=""> مناسبتی
                        </label>
                    </div>   
                                                    
                </div> 
                <div class="row">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isQuran" class="form-check-input" value=""> قرائت قرآن 
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isPray" class="form-check-input" value=""> قرائت دعا - ادعیه
                        </label>
                    </div>
                    <div class="form-group mr-1">                           
                        <input type="text" v-model="model.prayName" class="form-control" placeholder="نام ادعیه ">
                    </div> 
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isShokhanran" class="form-check-input" value=""> سخنرانی 
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isEagerness" class="form-check-input" value=""> مداحی 
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isCatering" class="form-check-input" value=""> پذیرایی 
                        </label>
                    </div>
                    <div class="form-group mr-1">                           
                        <input type="text" v-model="model.andOtherSchedule" class="form-control" placeholder="و یا ...">
                    </div>
                </div>  
                <hr />
                <p class="font-weight-bold text-right">نحوه  اطلاع رسانی</p>   
                <div class="row">
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>سامانه پیامکی (شماره)  را وارد کنید</label>
                            <input type="number" v-model="model.sMSSystemNumber" class="form-control" placeholder="سامانه پیامکی (شماره)">
                        </div>
                    </div> 
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>آدرس سایت  را وارد کنید</label>
                            <input type="text" v-model="model.siteAddress" class="form-control" placeholder="www.ferdow110.ir">
                        </div>
                    </div> 
                     <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>آدرس تلگرام  را وارد کنید</label>
                            <input type="text" v-model="model.telegramAddress" class="form-control" placeholder="آدرس تلگرام">
                        </div>
                    </div> 
                     <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>آدرس اینستاگرام  را وارد کنید</label>
                            <input type="text" v-model="model.instagramAddress" class="form-control" placeholder="آدرس اینستاگرام">
                        </div>
                    </div> 
                     <div class="col-md-4 col-xs-12 d-flex">
                        <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.isNotificationBar" class="form-check-input" value=""> تابلوی اطلاع رسانی ثابت یا سیار
                        </label>
                    </div>
                    </div> 
                </div>     
                <hr />
                <p class="font-weight-bold text-right">مجریان برنامه</p>   
                <div class="row">
                     <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>نام قاری  را وارد کنید</label>
                            <input type="text" v-model="model.qhari" class="form-control" placeholder="نام قاری">
                        </div>
                    </div> 
                     <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>نام سخنران  را وارد کنید</label>
                            <input type="text" v-model="model.sokhanran" class="form-control" placeholder="نام سخنران">
                        </div>
                    </div> 
                     <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>نام مداح  را وارد کنید</label>
                            <input type="text" v-model="model.maddah" class="form-control" placeholder="نام مداح">
                        </div>
                    </div> 
                     <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>و یا ویژه برنامه  را وارد کنید</label>
                            <input type="text" v-model="model.specialApp" class="form-control" placeholder="و یا ویژه برنامه">
                        </div>
                    </div> 
                </div>     
                <hr />
                <p class="font-weight-bold text-right">آمار مستمعین</p>  
                <div class="row">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.brothers" class="form-check-input" value=""> خواهران
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.sisters" class="form-check-input" value=""> برادران
                        </label>
                    </div>
                </div> 
                <div class="row">
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>میزان جمعیت تقریبی  را وارد کنید</label>
                            <input type="number" v-model="model.approximatePopulation" class="form-control" placeholder="میزان جمعیت تقریبی">
                        </div>
                    </div> 
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>میزان جمعیت در ویژه برنامه ها  را وارد کنید</label>
                            <input type="number" v-model="model.populationsInSpecialProgram" class="form-control" placeholder="میزان جمعیت در ویژه برنامه ها">
                        </div>
                    </div>  
                </div>     
                <hr />
                <p class="font-weight-bold text-right">مشخصات مکان برگزاری جلسه </p>  
                <div class="row">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.const" class="form-check-input" value=""> ثابت
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.mobile" class="form-check-input" value=""> سیار
                        </label>
                    </div>
                </div> 
                <div class="row">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.mosque" class="form-check-input" value=""> مسجد
                        </label>
                    </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.husseinieh" class="form-check-input" value=""> حسینیه
                        </label>
                    </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.privateBuilding" class="form-check-input" value=""> ساختمان خصوصی 
                        </label>
                    </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.temporaryPublicSpace" class="form-check-input" value="">  فضای عمومی موقت 
                        </label>
                    </div>
                    <div class="form-group mr-1">                           
                        <input type="number" v-model="model.totalArea" style="width: 100px;" class="form-control" placeholder="به متراژ کل">
                    </div> 
                    <div class="form-group mr-1">                           
                        <input type="number" v-model="model.totalBrother" style="width: 100px;" class="form-control" placeholder=" متراژ برادران">
                    </div> 
                    <div class="form-group mr-1">                           
                        <input type="number" v-model="model.totalSister" style="width: 100px;" class="form-control" placeholder=" متراژ خواهران">
                    </div> 
                </div> 
                <hr />
                <p class="font-weight-bold text-right">نحوه جذب منابع</p>  
                <div class="row">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.popularSupport" class="form-check-input" value=""> کمک های مردمی
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.fixedBudgetOrganizationOrOffice" class="form-check-input" value=""> بودجه ثابت سازمان یا اداره
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.economicActivitiesInTheField" class="form-check-input" value=""> فعالیت های اقتصادی در زمینه
                        </label>
                    </div>
                </div>   
                <hr />
                <p class="font-weight-bold text-right">فعالیت های جانبی</p> 
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <label>اردویی  را وارد کنید</label>
                            <input type="text" v-model="model.theCamp" class="form-control" placeholder="اردویی">
                        </div>
                    </div>  
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <label>فرهنگی  را وارد کنید</label>
                            <input type="text" v-model="model.cultural" class="form-control" placeholder="فرهنگی">
                        </div>
                    </div>  
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <label>آموزشی  را وارد کنید</label>
                            <input type="text" v-model="model.educational" class="form-control" placeholder="آموزشی">
                        </div>
                    </div>  
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <label>خیریه  را وارد کنید</label>
                            <input type="text" v-model="model.charity" class="form-control" placeholder="خیریه">
                        </div>
                    </div>  
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>سایر  را وارد کنید</label>
                            <input type="text" v-model="model.others" class="form-control" placeholder="سایر">
                        </div>
                    </div>  
                </div>  
                <hr />
                <p class="font-weight-bold text-right">موقعیت مکان</p> 
                <hr />
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>منطقه  را وارد کنید</label>
                            <input type="text" class="form-control" v-model="model.area" placeholder="منطقه">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>ناحیه  را وارد کنید</label>
                            <input type="text" class="form-control" v-model="model.locArea" placeholder="ناحیه">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>محله  را وارد کنید</label>
                            <input type="text" class="form-control" v-model="model.theNeighbourhood" placeholder="محله">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>خیابان اصلی  را وارد کنید</label>
                            <input type="text" class="form-control" v-model="model.theMainStreet" placeholder="خیابان اصلی">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>خیابان فرعی  را وارد کنید</label>
                            <input type="text" class="form-control" v-model="model.auxiliaryRoad" placeholder="خیابان فرعی">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>کوچه  را وارد کنید</label>
                            <input type="text" class="form-control" v-model="model.alley" placeholder="کوچه">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>پلاک  را وارد کنید</label>
                            <input type="number" class="form-control" v-model="model.plaque" placeholder="پلاک">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                         <div class="form-group">
                            <label>محله را انتخاب کنید</label>
                            <select v-model="model.locationId" class="form-control">
                                <option value="">محله را انتخاب کنید </option>
                                <option v-for="item in location" :value="item.id">{{item.title}}</option>
                            </select>
                        </div>
                    </div>     
                </div>  
                <hr />
                <p class="font-weight-bold text-right">نیازمندی های ضروری هیئت</p> 
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label>نیازمندی های ضروری   را وارد کنید</label>
                            <textarea class="form-control" v-model="model.essentialRequirementsOfTheBoard" placeholder="نیازمندی های ضروری " ></textarea>
                        </div>
                    </div>  
                </div>  
            </div>

            <!-- Modal footer -->
            <div class="modal-footer"  v-if="status=='add'">        
                <button v-on:click="saveHeiat()" data-role="addHeiat" type="button" class="btn btn-success w-100 mr-1 ladda-button" data-style="slide-right">
                    <span  class="ladda-label">ثبت اطلاعات</span>
                </button>
            </div>

            </div>
        </div>
    </div>
</div>

<script>
   var app= new Vue({
        el:'#app',
        data:{
            model:{
                // نام هییٔت
                name:'',
                // تاریخ ثبت
                establishedYear:'',
                // شماره ثبت
                registrationNumber:'',
                // محل ثبت
                registrationLocation:'',
                // نام مسئول
                managerName:'',
                // شماره تماس مسئول
                managerPhoneNumber:'',
                //  شماره تماس یکی از امنا
                contactPhoneNumber:'',
                // اعضای هییت امنا
                contactNames:'',
                // مسیٔول رسانه
                mediaManagerFullName:'',
                // شماره تماس مسیٔول رسانه
                mediaManagerPhoneNumber:'' , 
                // نحوه شکل گیری - محله ای
                isLocal:false, 
                //  نحوه شکل گیری - قومیتی
                isEthnicity:false,           
                //  نحوه شکل گیری - صنفی
                isGuild:false,
                //  نحوه شکل گیری - اداری یا سازمانی
                isOfficial:false,
                // نحوه عزاداری - سینه زنی
                isBreastplate:false,
                //  نحوه عزاداری - زنجیر زنی
                isChainsaw:false,
                // نحوه عزاداری - تعزیه خوانی
                isPassionReading:false,
                // نحوه عزاداری - شبیه خوانی
                isResemblance:false,
                //  نحوه عزاداری - و یا
                andOther:'' ,
                // زمانبندی و شرح اجرای برنامه - هفتگی
                isWeekly:false,
                // زمانبندی و شرح اجرای برنامه - روز هفته
                weekDay:'',
                // زمانبندی و شرح اجرای برنامه - ماهانه
                isMonthly:false,
                // زمانبندی و شرح اجرای برنامه - روز ماه
                monthDay:'',
                //  زمانبندی و شرح اجرای برنامه - سالانه
                isYearly:false,
                // زمانبندی و شرح اجرای برنامه - روز سال
                yearDay:'',
                // زمانبندی و شرح اجرای برنامه - ماسبتی
                isDeally:false,
                // زمانبندی و شرح اجرای برنامه - قرآت
                isQuran:false,
                // زمانبندی و شرح اجرای برنامه - دعا
                isPray:false,
                // زمانبندی و شرح اجرای برنامه - نام دعا
                prayName:false,
                // زمانبندی و شرح اجرای برنامه - دارای سخنران
                isShokhanran:false,
                //  زمانبندی و شرح اجرای برنامه - دارای مداحی
                isEagerness:false,
                // زمانبندی و شرح اجرای برنامه - دارای پذیرایی
                isCatering:false,
                // زمانبندی و شرح اجرای برنامه - ویا
                andOtherSchedule:'',
                //  نحوه اطلاع رسانی - شماره سامانه پیامکی
                sMSSystemNumber:'',
                // نحوه اطلاع رسانی - آدرس سایت
                siteAddress:'',
                // نحوه اطلاع رسانی - آدرس تلگرام
                telegramAddress:'',
                // نحوه اطلاع رسانی - آدرس اینستاگرام
                instagramAddress:'',
                // نحوه اطلاع رسانی - دارای تابلوی اطلاع رسانی
                isNotificationBar:false,
                // مجریان برنامه - قاری
                qhari:'',
                // مجریان برنامه - سخنران
                sokhanran:'',
                // مجریان برنامه - مداح
                maddah:'',
                // مجریان برنامه - برنامه ویژه
                specialApp:'',
                //  آمار مستمعین - برادران
                brothers:false,
                //  آمار مستمعین - خواهران
                sisters:false,
                // آمار مستمعین - میزان جمعیت تقریبی
                approximatePopulation:'',
                // آمار مستمعین - میزان جمعیت در ویژه برنامه
                populationsInSpecialProgram:'',
                // مشخصات مکان برگزاری جلسه - ثابت
                const:false,
                // مشخصات مکان برگزاری جلسه - سیار
                mobile:false,
                // مشخصات مکان برگزاری جلسه - مسجد
                mosque:false,
                // مشخصات مکان برگزاری جلسه - حسینیه
                husseinieh:false,
                // مشخصات مکان برگزاری جلسه - ساختمان خصوصی
                privateBuilding:false,
                // مشخصات مکان برگزاری جلسه - فضای عمومی موقت
                temporaryPublicSpace:false,
                // مشخصات مکان برگزاری جلسه - به متراژ کل
                totalArea:'',
                // مشخصات مکان برگزاری جلسه - متراژ برادران
                totalBrother:'',
                // مشخصات مکان برگزاری جلسه - متراژ خواهران
                totalSister:'',
                // نحوه جذب منابع - کمک های مردمی
                popularSupport:false,
                // نحوه جذب منابع -  بودجه ثابت سازمان یا اداره
                fixedBudgetOrganizationOrOffice:false,
                // نحوه جذب منابع - فعالیتهای اقتصادی 
                economicActivitiesInTheField:false,
                // فعالیت های جانبی - اردویی
                theCamp:'',
                // فعالیت های جانبی - فرهنگی
                cultural:'',
                // فعالیت های جانبی - آموزشی
                educational:'',
                // فعالیت های جانبی - خیریه 
                charity:'',
                // فعالیت های جانبی - سایر
                others:'',
                // موقعیت مکان - منطقه
                area:'',
                // موقعیت مکان - ناحیه
                locArea:'',
                //  موقعیت مکان - محله
                theNeighbourhood:'',
                // موقعیت مکان - خیابان اصلی
                theMainStreet:'',
                // موقعیت مکان - خیابان فرعی
                auxiliaryRoad:'',
                // موقعیت مکان - کوچه
                alley:'',
                // موقعیت مکان - پلاک
                plaque:'',
                // نیازمندی های ضروری
                essentialRequirementsOfTheBoard:'',
                // انتخاب محله 
                locationId:''
            } , 
            location:[],
            search:{
                pageNumber:1,
                pageSize:10,
                totalPages: 0,
                totalRows: 0,
                currentPage:1,
                data:[],
            } ,
            loading:true,
            status:'add'
        },
        methods:{ 
            openModal:function() {
                this.status='add'
                this.clearModel();
                $('#modalAdd').modal({
                    backdrop: 'static',
                    keyboard: false
                })
                setTimeout(function(){
                    $("#modalAdd .modal-body").animate({ scrollTop: 0 })
                },200)
            },
            saveHeiat:function() {
                if(app.model.Name=='') {
                    toastr.error('نام هییٔت نمی تواند خالی باشد ');
                    return
                }
                if(app.model.LocationId=='') {
                    toastr.error('محله ای انتخاب نکرده اید ');
                    return
                }
                app.model.establishedYear=$('#time').val()
                var l = Ladda.create(document.querySelector('[data-role="addHeiat"]'));
                l.start(); 
                $.ajax({
                    url:'/Admin/Heiat/ApiCreate',
                    method:'Post',
                    data:app.model,
                    success:function(response){                     
                        if(response.isSuccess) {
                            toastr.success(response.message)
                            $('#modalAdd').modal('hide')
                            app.search.pageNumber=1;
                            app.search.data=[]
                            app.getData()
                        }
                        else {
                            toastr.error(response.message)                            
                        }
                        l.stop()                        
                    },
                    error:function(error){
                        toastr.error('در برقراری با سرور به مشکل خوردیم دوباره تلاش کنید ')
                        l.stop()
                    }  
                })              
            },
            clearModel:function(){
                 app.model={
                    // نام هییٔت
                    name:'',
                    // تاریخ ثبت
                    establishedYear:'',
                    // شماره ثبت
                    registrationNumber:'',
                    // محل ثبت
                    registrationLocation:'',
                    // نام مسئول
                    managerName:'',
                    // شماره تماس مسئول
                    managerPhoneNumber:'',
                    //  شماره تماس یکی از امنا
                    contactPhoneNumber:'',
                    // اعضای هییت امنا
                    contactNames:'',
                    // مسیٔول رسانه
                    mediaManagerFullName:'',
                    // شماره تماس مسیٔول رسانه
                    mediaManagerPhoneNumber:'' , 
                    // نحوه شکل گیری - محله ای
                    isLocal:false, 
                    //  نحوه شکل گیری - قومیتی
                    isEthnicity:false,           
                    //  نحوه شکل گیری - صنفی
                    isGuild:false,
                    //  نحوه شکل گیری - اداری یا سازمانی
                    isOfficial:false,
                    // نحوه عزاداری - سینه زنی
                    isBreastplate:false,
                    //  نحوه عزاداری - زنجیر زنی
                    isChainsaw:false,
                    // نحوه عزاداری - تعزیه خوانی
                    isPassionReading:false,
                    // نحوه عزاداری - شبیه خوانی
                    isResemblance:false,
                    //  نحوه عزاداری - و یا
                    andOther:'' ,
                    // زمانبندی و شرح اجرای برنامه - هفتگی
                    isWeekly:false,
                    // زمانبندی و شرح اجرای برنامه - روز هفته
                    weekDay:'',
                    // زمانبندی و شرح اجرای برنامه - ماهانه
                    isMonthly:false,
                    // زمانبندی و شرح اجرای برنامه - روز ماه
                    monthDay:'',
                    //  زمانبندی و شرح اجرای برنامه - سالانه
                    isYearly:false,
                    // زمانبندی و شرح اجرای برنامه - روز سال
                    yearDay:'',
                    // زمانبندی و شرح اجرای برنامه - ماسبتی
                    isDeally:false,
                    // زمانبندی و شرح اجرای برنامه - قرآت
                    isQuran:false,
                    // زمانبندی و شرح اجرای برنامه - دعا
                    isPray:false,
                    // زمانبندی و شرح اجرای برنامه - نام دعا
                    prayName:false,
                    // زمانبندی و شرح اجرای برنامه - دارای سخنران
                    isShokhanran:false,
                    //  زمانبندی و شرح اجرای برنامه - دارای مداحی
                    isEagerness:false,
                    // زمانبندی و شرح اجرای برنامه - دارای پذیرایی
                    isCatering:false,
                    // زمانبندی و شرح اجرای برنامه - ویا
                    andOtherSchedule:'',
                    //  نحوه اطلاع رسانی - شماره سامانه پیامکی
                    sMSSystemNumber:'',
                    // نحوه اطلاع رسانی - آدرس سایت
                    siteAddress:'',
                    // نحوه اطلاع رسانی - آدرس تلگرام
                    telegramAddress:'',
                    // نحوه اطلاع رسانی - آدرس اینستاگرام
                    instagramAddress:'',
                    // نحوه اطلاع رسانی - دارای تابلوی اطلاع رسانی
                    isNotificationBar:false,
                    // مجریان برنامه - قاری
                    qhari:'',
                    // مجریان برنامه - سخنران
                    sokhanran:'',
                    // مجریان برنامه - مداح
                    maddah:'',
                    // مجریان برنامه - برنامه ویژه
                    specialApp:'',
                    //  آمار مستمعین - برادران
                    brothers:false,
                    //  آمار مستمعین - خواهران
                    sisters:false,
                    // آمار مستمعین - میزان جمعیت تقریبی
                    approximatePopulation:'',
                    // آمار مستمعین - میزان جمعیت در ویژه برنامه
                    populationsInSpecialProgram:'',
                    // مشخصات مکان برگزاری جلسه - ثابت
                    const:false,
                    // مشخصات مکان برگزاری جلسه - سیار
                    mobile:false,
                    // مشخصات مکان برگزاری جلسه - مسجد
                    mosque:false,
                    // مشخصات مکان برگزاری جلسه - حسینیه
                    husseinieh:false,
                    // مشخصات مکان برگزاری جلسه - ساختمان خصوصی
                    privateBuilding:false,
                    // مشخصات مکان برگزاری جلسه - فضای عمومی موقت
                    temporaryPublicSpace:false,
                    // مشخصات مکان برگزاری جلسه - به متراژ کل
                    totalArea:'',
                    // مشخصات مکان برگزاری جلسه - متراژ برادران
                    totalBrother:'',
                    // مشخصات مکان برگزاری جلسه - متراژ خواهران
                    totalSister:'',
                    // نحوه جذب منابع - کمک های مردمی
                    popularSupport:false,
                    // نحوه جذب منابع -  بودجه ثابت سازمان یا اداره
                    fixedBudgetOrganizationOrOffice:false,
                    // نحوه جذب منابع - فعالیتهای اقتصادی 
                    economicActivitiesInTheField:false,
                    // فعالیت های جانبی - اردویی
                    theCamp:'',
                    // فعالیت های جانبی - فرهنگی
                    cultural:'',
                    // فعالیت های جانبی - آموزشی
                    educational:'',
                    // فعالیت های جانبی - خیریه 
                    charity:'',
                    // فعالیت های جانبی - سایر
                    others:'',
                    // موقعیت مکان - منطقه
                    area:'',
                    // موقعیت مکان - ناحیه
                    locArea:'',
                    //  موقعیت مکان - محله
                    theNeighbourhood:'',
                    // موقعیت مکان - خیابان اصلی
                    theMainStreet:'',
                    // موقعیت مکان - خیابان فرعی
                    auxiliaryRoad:'',
                    // موقعیت مکان - کوچه
                    alley:'',
                    // موقعیت مکان - پلاک
                    plaque:'',
                    // نیازمندی های ضروری
                    essentialRequirementsOfTheBoard:'',
                    // انتخاب محله 
                    locationId:''
                }
            },
            getData:function(){
                this.loading=true;
                let search = this.search;
                let $this=this;
                $.ajax({
                    url:'/Admin/Heiat/ApiGet',
                    method:'Post',
                    data:search,
                    success:function(response) {  
                        var array=$this.search.data;
                        var newArray=response.data;                
                        $this.search=response;
                        $this.search.data=array.concat(newArray)
                        $this.search.pageNumber=$this.search.currentPage;
                        $this.loading=false;
                    }
                })
            },
            moreData:function(){
                this.search.pageNumber++;
                this.getData();
            } , 
            deleteHeiat:function(id){               
                swal({
                    title: "حذف هیئت ",
                    text: "آیا مطمئن هستید ؟؟ ",
                    type: "warning",
                    showCancelButton: true,                    
                    confirmButtonText: "بله حذف کن",                  
                    cancelButtonText: "نه منصرف شدم",
                    closeOnConfirm: false,
                    confirmButtonColor: "#dc3545",                  

                }, function(){
                    var l = Ladda.create(document.querySelector('[data-role="delete"][data-id="'+id+'"]'));
                    l.start();
                    swal.close()
                    $.ajax({
                        url:'/Admin/Heiat/ApiDelete/'+id,   
                        method:'Post' ,                   
                        success:function(response){                     
                            if(response.isSuccess) {
                                toastr.success(response.message)
                                app.search.pageNumber=1;
                                app.search.data=[];
                                app.getData()
                            }
                            else {
                                toastr.error(response.message)                            
                            }
                            l.stop()                        
                        },
                        error:function(error){
                            toastr.error('در برقراری با سرور به مشکل خوردیم دوباره تلاش کنید ')
                            l.stop()
                        }          
                    }) 
                });
            },
            detail:function(item) {               
                this.model=item;
                this.status='detail',
                 $('#modalAdd').modal({
                    backdrop: 'static',
                    keyboard: false
                })
            }
        } , 
        created:function(){
            this.getData()
        }
    })

    $(function(){
        var customOptions = {
			placeholder: "روز / ماه / سال"
			, twodigit: false
			, closeAfterSelect: false
			, nextButtonIcon: "fa fa-arrow-circle-right"
			, previousButtonIcon: "fa fa-arrow-circle-left"
			, buttonsColor: "blue"
			, forceFarsiDigits: true
			, markToday: true
			, markHolidays: true
			, highlightSelectedDay: true
			, sync: true
			, gotoToday: true
		}
        kamaDatepicker('time',customOptions);
         $.ajax({
            url:'/Admin/Location/ApiGet',
            success:function(response) {
                app.location = response;                
            }
        })
    })
</script>