
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/lib/datepicker/kamadatepicker.min.css" rel="stylesheet" />
<script src="~/lib/datepicker/kamadatepicker.min.js"></script>

@{
    ViewData["Title"] = "مدیریت هییٔت ها - پنل ادمین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="app" v-cloak>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">صفحه اصلی پنل ادمین </a></li>
        <li class="breadcrumb-item active">مدیریت هییٔت ها</li>
    </ol>

    <div class="row">
        <div class="col-xl-12 col-12 mb-4 mb-xl-0">
            <div class="text-right">
                <button class="btn btn-outline-dark" data-toggle="modal" data-target="#modalAdd">اضافه نمودن هییٔت جدید </button>
            </div>
            <h3 class="text-muted text-center mb-3">لیست هییٔت های ثبت شده </h3>
            <table class="table table-striped bg-light text-center ">
            <thead>
                <tr class="text-muted">
                    <th>#</th>
                    <th>نام هییٔت </th>
                    <th>نام مسئول محله </th>
                    <th>شماره مسئول محله</th>
                    <th>تعداد مسئول جانشین</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td colspan="6">
                        <i class="fa fa-lg fa-spin fa-spinner"></i>
                    </td>
                </tr>
               
            </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade " id="modalAdd">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4  class="modal-title">اضافه نمودن هییٔت جدید </h4>                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="max-height:500px;height:400px;">
                <div class="row">
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>نام هییٔت را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="نام هییٔت">
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>تاریخ تاسیس  هییٔت را وارد کنید</label>
                            <input id="time" type="text"class="form-control" placeholder="تاریخ تاسیس هییٔت">
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>شماره ثبت را وارد کنید</label>
                            <input type="number"class="form-control" placeholder="شماره ثبت">
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>محل ثبت را وارد کنید</label>
                            <input type="text"class="form-control" placeholder="محل ثبت">
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>نام مسئول هییٔت را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="نام مسئول هییٔت">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>شماره تماس مسئول هییٔت را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="شماره تماس مسئول هییٔت">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>شماره تماس یکی از امناء را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="شماره تماس یکی از امناء">
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label>نام اعضای امناء را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="نام اعضای امناء">
                        </div>
                    </div>
                </div> 
                <hr />  
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>مسئول رسانه و روابط عمومی را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="مسئول رسانه و روابط عمومی">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>شماره تماس  را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="شماره تماس">
                        </div>
                    </div>                                     
                </div>
                <hr />
                <p class="font-weight-bold text-right">نحوه شکل گیری هیئت</p>
                <div class="row">                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">محله ای
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">قومیتی
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">صنفی
                        </label>
                    </div>                                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">اداری یا سازمانی
                        </label>
                    </div>                                    
                </div>           
                <hr />
                <p class="font-weight-bold text-right">نحوه  عزاداری</p>
                <div class="row">                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> سینه زنی
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">زنجیر زنی
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">تعزیه خوانی
                        </label>
                    </div>                                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> شبیه خوانی 
                        </label>
                    </div>   
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">                           
                            <input type="text" class="form-control" placeholder="و یا .... ">
                        </div>
                    </div>                                 
                </div>   
                <hr />
                <p class="font-weight-bold text-right">زمان بندی و شرح اجرای مراسم</p>
                <div class="row">                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">  هفتگی
                        </label>
                    </div>
                    <div class="form-group mr-1">
                        <select class="form-control">
                            <option value="">روز را انتخاب کنید </option>
                            <option>شنبه</option>
                            <option>یکشنبه</option>
                            <option>دوشنبه </option>
                            <option>سه شنبه </option>
                            <option>چهار شنبه </option>
                            <option>پنج شنبه </option>
                        </select>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> ماهانه
                        </label>
                    </div>
                    <div class="form-group mr-1">                           
                        <input type="text" class="form-control" placeholder="روز ماهانه">
                    </div> 
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">سالانه
                        </label>
                    </div>   
                     <div class="form-group mr-1">                           
                        <input type="text" class="form-control" placeholder="ایام سال">
                    </div>                                  
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> مناسبتی
                        </label>
                    </div>   
                                                    
                </div> 
                <div class="row">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> قرائت قرآن 
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> قرائت دعا - ادعیه
                        </label>
                    </div>
                    <div class="form-group mr-1">                           
                        <input type="text" class="form-control" placeholder="نام ادعیه ">
                    </div> 
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> سخنرانی 
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> مداحی 
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> پذیرایی 
                        </label>
                    </div>
                    <div class="form-group mr-1">                           
                        <input type="text" class="form-control" placeholder="و یا ...">
                    </div>
                </div>  
                <hr />
                <p class="font-weight-bold text-right">نحوه  اطلاع رسانی</p>   
                <div class="row">
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>سامانه پیامکی (شماره)  را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="سامانه پیامکی (شماره)">
                        </div>
                    </div> 
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>آدرس سایت  را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="www.ferdow110.ir">
                        </div>
                    </div> 
                     <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>آدرس تلگرام  را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="آدرس تلگرام">
                        </div>
                    </div> 
                     <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>آدرس اینستاگرام  را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="آدرس اینستاگرام">
                        </div>
                    </div> 
                     <div class="col-md-4 col-xs-12 d-flex">
                        <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> تابلوی اطلاع رسانی ثابت یا سیار
                        </label>
                    </div>
                    </div> 
                </div>     
                <hr />
                <p class="font-weight-bold text-right">مجریان برنامه</p>   
                <div class="row">
                     <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>نام قاری  را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="نام قاری">
                        </div>
                    </div> 
                     <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>نام سخنران  را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="نام سخنران">
                        </div>
                    </div> 
                     <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>نام مداح  را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="نام مداح">
                        </div>
                    </div> 
                     <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>و یا ویژه برنامه  را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="و یا ویژه برنامه">
                        </div>
                    </div> 
                </div>     
                <hr />
                <p class="font-weight-bold text-right">آمار مستمعین</p>  
                <div class="row">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> خواهران
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> برادران
                        </label>
                    </div>
                </div> 
                <div class="row">
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>میزان جمعیت تقریبی  را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="میزان جمعیت تقریبی">
                        </div>
                    </div> 
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>میزان جمعیت در ویژه برنامه ها  را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="میزان جمعیت در ویژه برنامه ها">
                        </div>
                    </div>  
                </div>     
                <hr />
                <p class="font-weight-bold text-right">مشخصات مکان برگزاری جلسه </p>  
                <div class="row">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> ثابت
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> سیار
                        </label>
                    </div>
                </div> 
                <div class="row">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> مسجد
                        </label>
                    </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> حسینیه
                        </label>
                    </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> ساختمان خصوصی 
                        </label>
                    </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">  فضای عمومی موقت 
                        </label>
                    </div>
                    <div class="form-group mr-1">                           
                        <input type="number" style="width: 100px;" class="form-control" placeholder="به متراژ کل">
                    </div> 
                    <div class="form-group mr-1">                           
                        <input type="number" style="width: 100px;" class="form-control" placeholder=" متراژ برادران">
                    </div> 
                    <div class="form-group mr-1">                           
                        <input type="number" style="width: 100px;" class="form-control" placeholder=" متراژ خواهران">
                    </div> 
                </div> 
                <hr />
                <p class="font-weight-bold text-right">نحوه جذب منابع</p>  
                <div class="row">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> کمک های مردمی
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> بودجه ثابت سازمان یا اداره
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> فعالیت های اقتصادی در زمینه
                        </label>
                    </div>
                </div>   
                <hr />
                <p class="font-weight-bold text-right">فعالیت های جانبی</p> 
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <label>اردویی  را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="اردویی">
                        </div>
                    </div>  
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <label>فرهنگی  را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="فرهنگی">
                        </div>
                    </div>  
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <label>آموزشی  را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="آموزشی">
                        </div>
                    </div>  
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <label>خیریه  را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="خیریه">
                        </div>
                    </div>  
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>سایر  را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="سایر">
                        </div>
                    </div>  
                </div>  
                <hr />
                <p class="font-weight-bold text-right">موقعیت مکان</p> 
                <hr />
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>منطقه  را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="منطقه">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>ناحیه  را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="ناحیه">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>محله  را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="محله">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>خیابان اصلی  را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="خیابان اصلی">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>خیابان فرعی  را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="خیابان فرعی">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>کوچه  را وارد کنید</label>
                            <input type="text" class="form-control" placeholder="کوچه">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>پلاک  را وارد کنید</label>
                            <input type="number" class="form-control" placeholder="پلاک">
                        </div>
                    </div>     
                </div>  
                <hr />
                <p class="font-weight-bold text-right">نیازمندی های ضروری هیئت</p> 
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label>نیازمندی های ضروری   را وارد کنید</label>
                            <textarea class="form-control" placeholder="نیازمندی های ضروری " ></textarea>
                        </div>
                    </div>  
                </div>  
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">        
                <button type="button" class="btn btn-success w-100 mr-1 ladda-button" data-style="slide-right">
                    <span  class="ladda-label">ثبت اطلاعات</span>
                </button>
            </div>

            </div>
        </div>
    </div>
</div>

<script>
   var app= new Vue({
        el:'#app'
    })

    $(function(){
    
        var customOptions = {
			placeholder: "روز / ماه / سال"
			, twodigit: false
			, closeAfterSelect: false
			, nextButtonIcon: "fa fa-arrow-circle-right"
			, previousButtonIcon: "fa fa-arrow-circle-left"
			, buttonsColor: "blue"
			, forceFarsiDigits: true
			, markToday: true
			, markHolidays: true
			, highlightSelectedDay: true
			, sync: true
			, gotoToday: true
		}
        kamaDatepicker('time',customOptions);
    })
</script>




