
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/lib/datepicker/kamadatepicker.min.css" rel="stylesheet" />
<script src="~/lib/datepicker/kamadatepicker.min.js"></script>

@{
    ViewData["Title"] = "مدیریت هییٔت ها - پنل ادمین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="app" v-cloak>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">صفحه اصلی پنل ادمین </a></li>
        <li class="breadcrumb-item active">مدیریت هییٔت ها</li>
    </ol>

    <div class="row">
        <div class="col-xl-12 col-12 mb-4 mb-xl-0">
            <div class="text-right">
                <button class="btn btn-outline-dark" v-on:click="openModal()">اضافه نمودن هییٔت جدید </button>
            </div>
            <h3 class="text-muted text-center mb-3">لیست هییٔت های ثبت شده </h3>
            <p class="text-right">تعداد کل هیئت های ثبت شده : {{search.totalRows}}</p>
            <table class="table table-striped bg-light text-center ">
            <thead>
                <tr class="text-muted">
                    <th>#</th>
                    <th>نام هییٔت </th>
                    <th>نام  محله </th>                   
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>               
                <tr v-for="(item , index) in search.data">
                    <td>{{++index}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.locationId}}</td>
                    <td>
                        <button data-role="deleteLocation" type="button"  class="btn btn-danger ladda-button" data-style="slide-right">
                            <span class="ladda-label">حذف</span>                           
                        </button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="text-center cleadrfix col-xl-12 col-12 mb-4 mb-xl-0">
            <button class="btn btn-success">نمایش اطلاعات بیشتر </button>
        </div>
    </div>

    <div class="modal fade " id="modalAdd">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4  class="modal-title">اضافه نمودن هییٔت جدید </h4>                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="max-height:500px;height:400px;">                
                <div class="row">
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>نام هییٔت را وارد کنید</label>
                            <input type="text" v-model="model.Name" class="form-control" placeholder="نام هییٔت">
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>تاریخ تاسیس  هییٔت را وارد کنید</label>
                            <input id="time"  type="text" class="form-control" placeholder="تاریخ تاسیس هییٔت">
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>شماره ثبت را وارد کنید</label>
                            <input type="number" v-model="model.RegistrationNumber" class="form-control" placeholder="شماره ثبت">
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label>محل ثبت را وارد کنید</label>
                            <input type="text" v-model="model.RegistrationLocation" class="form-control" placeholder="محل ثبت">
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>نام مسئول هییٔت را وارد کنید</label>
                            <input type="text" v-model="model.ManagerName" class="form-control" placeholder="نام مسئول هییٔت">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>شماره تماس مسئول هییٔت را وارد کنید</label>
                            <input type="number" v-model="model.ManagerPhoneNumber" class="form-control" placeholder="شماره تماس مسئول هییٔت">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>شماره تماس یکی از امناء را وارد کنید</label>
                            <input type="number" v-model="model.ContactPhoneNumber" class="form-control" placeholder="شماره تماس یکی از امناء">
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label>نام اعضای امناء را وارد کنید</label>
                            <input type="text" v-model="model.ContactNames" class="form-control" placeholder="نام اعضای امناء">
                        </div>
                    </div>
                </div> 
                <hr />  
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>مسئول رسانه و روابط عمومی را وارد کنید</label>
                            <input type="text" v-model="model.MediaManagerFullName" class="form-control" placeholder="مسئول رسانه و روابط عمومی">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>شماره تماس  را وارد کنید</label>
                            <input type="number" v-model="model.MediaManagerPhoneNumber" class="form-control" placeholder="شماره تماس">
                        </div>
                    </div>                                     
                </div>
                <hr />
                <p class="font-weight-bold text-right">نحوه شکل گیری هیئت</p>
                <div class="row">                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsLocal" class="form-check-input" value="">محله ای
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsEthnicity" class="form-check-input" value="">قومیتی
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsGuild" class="form-check-input" value="">صنفی
                        </label>
                    </div>                                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsOfficial" class="form-check-input" value="">اداری یا سازمانی
                        </label>
                    </div>                                    
                </div>           
                <hr />
                <p class="font-weight-bold text-right">نحوه  عزاداری</p>
                <div class="row">                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsBreastplate" class="form-check-input" value=""> سینه زنی
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsChainsaw" class="form-check-input" value="">زنجیر زنی
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsPassionReading" class="form-check-input" value="">تعزیه خوانی
                        </label>
                    </div>                                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsResemblance" class="form-check-input" value=""> شبیه خوانی 
                        </label>
                    </div>   
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">                           
                            <input type="text" v-model="model.AndOther" class="form-control" placeholder="و یا .... ">
                        </div>
                    </div>                                 
                </div>   
                <hr />
                <p class="font-weight-bold text-right">زمان بندی و شرح اجرای مراسم</p>
                <div class="row">                    
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input v-model="model.IsWeekly" type="checkbox" class="form-check-input" value="">  هفتگی
                        </label>
                    </div>
                    <div class="form-group mr-1">
                        <select v-model="model.WeekDay" class="form-control">
                            <option value="">روز را انتخاب کنید </option>
                            <option value="شنبه">شنبه</option>
                            <option value="یکشنبه">یکشنبه</option>
                            <option value="دو شنبه">دوشنبه </option>
                            <option value="سه شنبه">سه شنبه </option>
                            <option value="چهار شنبه">چهار شنبه </option>
                            <option value="پنج شنبه">پنج شنبه </option>
                        </select>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsMonthly" class="form-check-input" value=""> ماهانه
                        </label>
                    </div>
                    <div class="form-group mr-1">                           
                        <input type="text" v-model="model.MonthDay" class="form-control" placeholder="روز ماهانه">
                    </div> 
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsYearly" class="form-check-input" value="">سالانه
                        </label>
                    </div>   
                     <div class="form-group mr-1">                           
                        <input type="text" v-model="model.YearDay" class="form-control" placeholder="ایام سال">
                    </div>                                  
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsDeally" class="form-check-input" value=""> مناسبتی
                        </label>
                    </div>   
                                                    
                </div> 
                <div class="row">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsQuran" class="form-check-input" value=""> قرائت قرآن 
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsPray" class="form-check-input" value=""> قرائت دعا - ادعیه
                        </label>
                    </div>
                    <div class="form-group mr-1">                           
                        <input type="text" v-model="model.PrayName" class="form-control" placeholder="نام ادعیه ">
                    </div> 
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsShokhanran" class="form-check-input" value=""> سخنرانی 
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsEagerness" class="form-check-input" value=""> مداحی 
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsCatering" class="form-check-input" value=""> پذیرایی 
                        </label>
                    </div>
                    <div class="form-group mr-1">                           
                        <input type="text" v-model="model.AndOtherSchedule" class="form-control" placeholder="و یا ...">
                    </div>
                </div>  
                <hr />
                <p class="font-weight-bold text-right">نحوه  اطلاع رسانی</p>   
                <div class="row">
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>سامانه پیامکی (شماره)  را وارد کنید</label>
                            <input type="number" v-model="model.SMSSystemNumber" class="form-control" placeholder="سامانه پیامکی (شماره)">
                        </div>
                    </div> 
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>آدرس سایت  را وارد کنید</label>
                            <input type="text" v-model="model.SiteAddress" class="form-control" placeholder="www.ferdow110.ir">
                        </div>
                    </div> 
                     <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>آدرس تلگرام  را وارد کنید</label>
                            <input type="text" v-model="model.TelegramAddress" class="form-control" placeholder="آدرس تلگرام">
                        </div>
                    </div> 
                     <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>آدرس اینستاگرام  را وارد کنید</label>
                            <input type="text" v-model="model.InstagramAddress" class="form-control" placeholder="آدرس اینستاگرام">
                        </div>
                    </div> 
                     <div class="col-md-4 col-xs-12 d-flex">
                        <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.IsNotificationBar" class="form-check-input" value=""> تابلوی اطلاع رسانی ثابت یا سیار
                        </label>
                    </div>
                    </div> 
                </div>     
                <hr />
                <p class="font-weight-bold text-right">مجریان برنامه</p>   
                <div class="row">
                     <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>نام قاری  را وارد کنید</label>
                            <input type="text" v-model="model.Qhari" class="form-control" placeholder="نام قاری">
                        </div>
                    </div> 
                     <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>نام سخنران  را وارد کنید</label>
                            <input type="text" v-model="model.Sokhanran" class="form-control" placeholder="نام سخنران">
                        </div>
                    </div> 
                     <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>نام مداح  را وارد کنید</label>
                            <input type="text" v-model="model.Maddah" class="form-control" placeholder="نام مداح">
                        </div>
                    </div> 
                     <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>و یا ویژه برنامه  را وارد کنید</label>
                            <input type="text" v-model="model.SpecialApp" class="form-control" placeholder="و یا ویژه برنامه">
                        </div>
                    </div> 
                </div>     
                <hr />
                <p class="font-weight-bold text-right">آمار مستمعین</p>  
                <div class="row">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.Brothers" class="form-check-input" value=""> خواهران
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.Sisters" class="form-check-input" value=""> برادران
                        </label>
                    </div>
                </div> 
                <div class="row">
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>میزان جمعیت تقریبی  را وارد کنید</label>
                            <input type="number" v-model="model.ApproximatePopulation" class="form-control" placeholder="میزان جمعیت تقریبی">
                        </div>
                    </div> 
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>میزان جمعیت در ویژه برنامه ها  را وارد کنید</label>
                            <input type="number" v-model="model.PopulationsInSpecialProgram" class="form-control" placeholder="میزان جمعیت در ویژه برنامه ها">
                        </div>
                    </div>  
                </div>     
                <hr />
                <p class="font-weight-bold text-right">مشخصات مکان برگزاری جلسه </p>  
                <div class="row">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.Const" class="form-check-input" value=""> ثابت
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.Mobile" class="form-check-input" value=""> سیار
                        </label>
                    </div>
                </div> 
                <div class="row">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.Mosque" class="form-check-input" value=""> مسجد
                        </label>
                    </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.Husseinieh" class="form-check-input" value=""> حسینیه
                        </label>
                    </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.PrivateBuilding" class="form-check-input" value=""> ساختمان خصوصی 
                        </label>
                    </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.TemporaryPublicSpace" class="form-check-input" value="">  فضای عمومی موقت 
                        </label>
                    </div>
                    <div class="form-group mr-1">                           
                        <input type="number" v-model="model.TotalArea" style="width: 100px;" class="form-control" placeholder="به متراژ کل">
                    </div> 
                    <div class="form-group mr-1">                           
                        <input type="number" v-model="model.TotalBrother" style="width: 100px;" class="form-control" placeholder=" متراژ برادران">
                    </div> 
                    <div class="form-group mr-1">                           
                        <input type="number" v-model="model.TotalSister" style="width: 100px;" class="form-control" placeholder=" متراژ خواهران">
                    </div> 
                </div> 
                <hr />
                <p class="font-weight-bold text-right">نحوه جذب منابع</p>  
                <div class="row">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.PopularSupport" class="form-check-input" value=""> کمک های مردمی
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.FixedBudgetOrganizationOrOffice" class="form-check-input" value=""> بودجه ثابت سازمان یا اداره
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="model.EconomicActivitiesInTheField" class="form-check-input" value=""> فعالیت های اقتصادی در زمینه
                        </label>
                    </div>
                </div>   
                <hr />
                <p class="font-weight-bold text-right">فعالیت های جانبی</p> 
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <label>اردویی  را وارد کنید</label>
                            <input type="text" v-model="model.TheCamp" class="form-control" placeholder="اردویی">
                        </div>
                    </div>  
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <label>فرهنگی  را وارد کنید</label>
                            <input type="text" v-model="model.Cultural" class="form-control" placeholder="فرهنگی">
                        </div>
                    </div>  
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <label>آموزشی  را وارد کنید</label>
                            <input type="text" v-model="model.Educational" class="form-control" placeholder="آموزشی">
                        </div>
                    </div>  
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <label>خیریه  را وارد کنید</label>
                            <input type="text" v-model="model.Charity" class="form-control" placeholder="خیریه">
                        </div>
                    </div>  
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label>سایر  را وارد کنید</label>
                            <input type="text" v-model="model.Others" class="form-control" placeholder="سایر">
                        </div>
                    </div>  
                </div>  
                <hr />
                <p class="font-weight-bold text-right">موقعیت مکان</p> 
                <hr />
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>منطقه  را وارد کنید</label>
                            <input type="text" class="form-control" v-model="model.Area" placeholder="منطقه">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>ناحیه  را وارد کنید</label>
                            <input type="text" class="form-control" v-model="model.LocArea" placeholder="ناحیه">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>محله  را وارد کنید</label>
                            <input type="text" class="form-control" v-model="model.TheNeighbourhood" placeholder="محله">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>خیابان اصلی  را وارد کنید</label>
                            <input type="text" class="form-control" v-model="model.TheMainStreet" placeholder="خیابان اصلی">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>خیابان فرعی  را وارد کنید</label>
                            <input type="text" class="form-control" v-model="model.AuxiliaryRoad" placeholder="خیابان فرعی">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>کوچه  را وارد کنید</label>
                            <input type="text" class="form-control" v-model="model.Alley" placeholder="کوچه">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>پلاک  را وارد کنید</label>
                            <input type="number" class="form-control" v-model="model.Plaque" placeholder="پلاک">
                        </div>
                    </div>     
                    <div class="col-md-3 col-xs-12">
                         <div class="form-group">
                            <label>محله را انتخاب کنید</label>
                            <select v-model="model.LocationId" class="form-control">
                                <option value="">محله را انتخاب کنید </option>
                                <option v-for="item in location" :value="item.id">{{item.title}}</option>
                            </select>
                        </div>
                    </div>     
                </div>  
                <hr />
                <p class="font-weight-bold text-right">نیازمندی های ضروری هیئت</p> 
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label>نیازمندی های ضروری   را وارد کنید</label>
                            <textarea class="form-control" v-model="model.EssentialRequirementsOfTheBoard" placeholder="نیازمندی های ضروری " ></textarea>
                        </div>
                    </div>  
                </div>  
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">        
                <button v-on:click="saveHeiat()" data-role="addHeiat" type="button" class="btn btn-success w-100 mr-1 ladda-button" data-style="slide-right">
                    <span  class="ladda-label">ثبت اطلاعات</span>
                </button>
            </div>

            </div>
        </div>
    </div>
</div>

<script>
   var app= new Vue({
        el:'#app',
        data:{
            model:{
                // نام هییٔت
                Name:'',
                // تاریخ ثبت
                EstablishedYear:'',
                // شماره ثبت
                RegistrationNumber:'',
                // محل ثبت
                RegistrationLocation:'',
                // نام مسئول
                ManagerName:'',
                // شماره تماس مسئول
                ManagerPhoneNumber:'',
                //  شماره تماس یکی از امنا
                ContactPhoneNumber:'',
                // اعضای هییت امنا
                ContactNames:'',
                // مسیٔول رسانه
                MediaManagerFullName:'',
                // شماره تماس مسیٔول رسانه
                MediaManagerPhoneNumber:'' , 
                // نحوه شکل گیری - محله ای
                IsLocal:false, 
                //  نحوه شکل گیری - قومیتی
                IsEthnicity:false,           
                //  نحوه شکل گیری - صنفی
                IsGuild:false,
                //  نحوه شکل گیری - اداری یا سازمانی
                IsOfficial:false,
                // نحوه عزاداری - سینه زنی
                IsBreastplate:false,
                //  نحوه عزاداری - زنجیر زنی
                IsChainsaw:false,
                // نحوه عزاداری - تعزیه خوانی
                IsPassionReading:false,
                // نحوه عزاداری - شبیه خوانی
                IsResemblance:false,
                //  نحوه عزاداری - و یا
                AndOther:'' ,
                // زمانبندی و شرح اجرای برنامه - هفتگی
                IsWeekly:false,
                // زمانبندی و شرح اجرای برنامه - روز هفته
                WeekDay:'',
                // زمانبندی و شرح اجرای برنامه - ماهانه
                IsMonthly:false,
                // زمانبندی و شرح اجرای برنامه - روز ماه
                MonthDay:'',
                //  زمانبندی و شرح اجرای برنامه - سالانه
                IsYearly:false,
                // زمانبندی و شرح اجرای برنامه - روز سال
                YearDay:'',
                // زمانبندی و شرح اجرای برنامه - ماسبتی
                IsDeally:false,
                // زمانبندی و شرح اجرای برنامه - قرآت
                IsQuran:false,
                // زمانبندی و شرح اجرای برنامه - دعا
                IsPray:false,
                // زمانبندی و شرح اجرای برنامه - نام دعا
                PrayName:false,
                // زمانبندی و شرح اجرای برنامه - دارای سخنران
                IsShokhanran:false,
                //  زمانبندی و شرح اجرای برنامه - دارای مداحی
                IsEagerness:false,
                // زمانبندی و شرح اجرای برنامه - دارای پذیرایی
                IsCatering:false,
                // زمانبندی و شرح اجرای برنامه - ویا
                AndOtherSchedule:'',
                //  نحوه اطلاع رسانی - شماره سامانه پیامکی
                SMSSystemNumber:'',
                // نحوه اطلاع رسانی - آدرس سایت
                SiteAddress:'',
                // نحوه اطلاع رسانی - آدرس تلگرام
                TelegramAddress:'',
                // نحوه اطلاع رسانی - آدرس اینستاگرام
                InstagramAddress:'',
                // نحوه اطلاع رسانی - دارای تابلوی اطلاع رسانی
                IsNotificationBar:false,
                // مجریان برنامه - قاری
                Qhari:'',
                // مجریان برنامه - سخنران
                Sokhanran:'',
                // مجریان برنامه - مداح
                Maddah:'',
                // مجریان برنامه - برنامه ویژه
                SpecialApp:'',
                //  آمار مستمعین - برادران
                Brothers:false,
                //  آمار مستمعین - خواهران
                Sisters:false,
                // آمار مستمعین - میزان جمعیت تقریبی
                ApproximatePopulation:'',
                // آمار مستمعین - میزان جمعیت در ویژه برنامه
                PopulationsInSpecialProgram:'',
                // مشخصات مکان برگزاری جلسه - ثابت
                Const:false,
                // مشخصات مکان برگزاری جلسه - سیار
                Mobile:false,
                // مشخصات مکان برگزاری جلسه - مسجد
                Mosque:false,
                // مشخصات مکان برگزاری جلسه - حسینیه
                Husseinieh:false,
                // مشخصات مکان برگزاری جلسه - ساختمان خصوصی
                PrivateBuilding:false,
                // مشخصات مکان برگزاری جلسه - فضای عمومی موقت
                TemporaryPublicSpace:false,
                // مشخصات مکان برگزاری جلسه - به متراژ کل
                TotalArea:'',
                // مشخصات مکان برگزاری جلسه - متراژ برادران
                TotalBrother:'',
                // مشخصات مکان برگزاری جلسه - متراژ خواهران
                TotalSister:'',
                // نحوه جذب منابع - کمک های مردمی
                PopularSupport:false,
                // نحوه جذب منابع -  بودجه ثابت سازمان یا اداره
                FixedBudgetOrganizationOrOffice:false,
                // نحوه جذب منابع - فعالیتهای اقتصادی 
                EconomicActivitiesInTheField:false,
                // فعالیت های جانبی - اردویی
                TheCamp:'',
                // فعالیت های جانبی - فرهنگی
                Cultural:'',
                // فعالیت های جانبی - آموزشی
                Educational:'',
                // فعالیت های جانبی - خیریه 
                Charity:'',
                // فعالیت های جانبی - سایر
                Others:'',
                // موقعیت مکان - منطقه
                Area:'',
                // موقعیت مکان - ناحیه
                LocArea:'',
                //  موقعیت مکان - محله
                TheNeighbourhood:'',
                // موقعیت مکان - خیابان اصلی
                TheMainStreet:'',
                // موقعیت مکان - خیابان فرعی
                AuxiliaryRoad:'',
                // موقعیت مکان - کوچه
                Alley:'',
                // موقعیت مکان - پلاک
                Plaque:'',
                // نیازمندی های ضروری
                EssentialRequirementsOfTheBoard:'',
                // انتخاب محله 
                LocationId:''
            } , 
            location:[],
            search:{
                pageNumber:1,
                pageSize:10,
                totalPages: 0,
                totalRows: 0,
                currentPage:0,
                data:[],
            }
        },
        methods:{
            openModal:function() {
                if(this.location.length==0) {
                    $.ajax({
                        url:'/Admin/Location/ApiGet',
                        success:function(response) {
                            app.location = response;                
                        }
                    })
                }
                this.clearModel();
                $('#modalAdd').modal({
                    backdrop: 'static',
                    keyboard: false
                })
                setTimeout(function(){
                    $("#modalAdd .modal-body").animate({ scrollTop: 0 })
                },200)
            },
            saveHeiat:function() {
                if(app.model.Name=='') {
                    toastr.error('نام هییٔت نمی تواند خالی باشد ');
                    return
                }
                if(app.model.LocationId=='') {
                    toastr.error('محله ای انتخاب نکرده اید ');
                    return
                }
                app.model.EstablishedYear=$('#time').val()
                var l = Ladda.create(document.querySelector('[data-role="addHeiat"]'));
                l.start(); 
                $.ajax({
                    url:'/Admin/Heiat/ApiCreate',
                    method:'Post',
                    data:app.model,
                    success:function(response){                     
                        if(response.isSuccess) {
                            toastr.success(response.message)
                            $('#modalAdd').modal('hide')
                            app.search.pageSize=1;
                            app.getData()
                        }
                        else {
                            toastr.error(response.message)                            
                        }
                        l.stop()                        
                    },
                    error:function(error){
                        toastr.error('در برقراری با سرور به مشکل خوردیم دوباره تلاش کنید ')
                        l.stop()
                    }  
                })              
            },
            clearModel:function(){
                app.model={
                    // نام هییٔت
                    Name:'',
                    // تاریخ ثبت
                    EstablishedYear:'',
                    // شماره ثبت
                    RegistrationNumber:'',
                    // محل ثبت
                    RegistrationLocation:'',
                    // نام مسئول
                    ManagerName:'',
                    // شماره تماس مسئول
                    ManagerPhoneNumber:'',
                    //  شماره تماس یکی از امنا
                    ContactPhoneNumber:'',
                    // اعضای هییت امنا
                    ContactNames:'',
                    // مسیٔول رسانه
                    MediaManagerFullName:'',
                    // شماره تماس مسیٔول رسانه
                    MediaManagerPhoneNumber:'' , 
                    // نحوه شکل گیری - محله ای
                    IsLocal:false, 
                    //  نحوه شکل گیری - قومیتی
                    IsEthnicity:false,           
                    //  نحوه شکل گیری - صنفی
                    IsGuild:false,
                    //  نحوه شکل گیری - اداری یا سازمانی
                    IsOfficial:false,
                    // نحوه عزاداری - سینه زنی
                    IsBreastplate:false,
                    //  نحوه عزاداری - زنجیر زنی
                    IsChainsaw:false,
                    // نحوه عزاداری - تعزیه خوانی
                    IsPassionReading:false,
                    // نحوه عزاداری - شبیه خوانی
                    IsResemblance:false,
                    //  نحوه عزاداری - و یا
                    AndOther:'' ,
                    // زمانبندی و شرح اجرای برنامه - هفتگی
                    IsWeekly:false,
                    // زمانبندی و شرح اجرای برنامه - روز هفته
                    WeekDay:'',
                    // زمانبندی و شرح اجرای برنامه - ماهانه
                    IsMonthly:false,
                    // زمانبندی و شرح اجرای برنامه - روز ماه
                    MonthDay:'',
                    //  زمانبندی و شرح اجرای برنامه - سالانه
                    IsYearly:false,
                    // زمانبندی و شرح اجرای برنامه - روز سال
                    YearDay:'',
                    // زمانبندی و شرح اجرای برنامه - ماسبتی
                    IsDeally:false,
                    // زمانبندی و شرح اجرای برنامه - قرآت
                    IsQuran:false,
                    // زمانبندی و شرح اجرای برنامه - دعا
                    IsPray:false,
                    // زمانبندی و شرح اجرای برنامه - نام دعا
                    PrayName:false,
                    // زمانبندی و شرح اجرای برنامه - دارای سخنران
                    IsShokhanran:false,
                    //  زمانبندی و شرح اجرای برنامه - دارای مداحی
                    IsEagerness:false,
                    // زمانبندی و شرح اجرای برنامه - دارای پذیرایی
                    IsCatering:false,
                    // زمانبندی و شرح اجرای برنامه - ویا
                    AndOtherSchedule:'',
                    //  نحوه اطلاع رسانی - شماره سامانه پیامکی
                    SMSSystemNumber:'',
                    // نحوه اطلاع رسانی - آدرس سایت
                    SiteAddress:'',
                    // نحوه اطلاع رسانی - آدرس تلگرام
                    TelegramAddress:'',
                    // نحوه اطلاع رسانی - آدرس اینستاگرام
                    InstagramAddress:'',
                    // نحوه اطلاع رسانی - دارای تابلوی اطلاع رسانی
                    IsNotificationBar:false,
                    // مجریان برنامه - قاری
                    Qhari:'',
                    // مجریان برنامه - سخنران
                    Sokhanran:'',
                    // مجریان برنامه - مداح
                    Maddah:'',
                    // مجریان برنامه - برنامه ویژه
                    SpecialApp:'',
                    //  آمار مستمعین - برادران
                    Brothers:false,
                    //  آمار مستمعین - خواهران
                    Sisters:false,
                    // آمار مستمعین - میزان جمعیت تقریبی
                    ApproximatePopulation:'',
                    // آمار مستمعین - میزان جمعیت در ویژه برنامه
                    PopulationsInSpecialProgram:'',
                    // مشخصات مکان برگزاری جلسه - ثابت
                    Const:false,
                    // مشخصات مکان برگزاری جلسه - سیار
                    Mobile:false,
                    // مشخصات مکان برگزاری جلسه - مسجد
                    Mosque:false,
                    // مشخصات مکان برگزاری جلسه - حسینیه
                    Husseinieh:false,
                    // مشخصات مکان برگزاری جلسه - ساختمان خصوصی
                    PrivateBuilding:false,
                    // مشخصات مکان برگزاری جلسه - فضای عمومی موقت
                    TemporaryPublicSpace:false,
                    // مشخصات مکان برگزاری جلسه - به متراژ کل
                    TotalArea:'',
                    // مشخصات مکان برگزاری جلسه - متراژ برادران
                    TotalBrother:'',
                    // مشخصات مکان برگزاری جلسه - متراژ خواهران
                    TotalSister:'',
                    // نحوه جذب منابع - کمک های مردمی
                    PopularSupport:false,
                    // نحوه جذب منابع -  بودجه ثابت سازمان یا اداره
                    FixedBudgetOrganizationOrOffice:false,
                    // نحوه جذب منابع - فعالیتهای اقتصادی 
                    EconomicActivitiesInTheField:false,
                    // فعالیت های جانبی - اردویی
                    TheCamp:'',
                    // فعالیت های جانبی - فرهنگی
                    Cultural:'',
                    // فعالیت های جانبی - آموزشی
                    Educational:'',
                    // فعالیت های جانبی - خیریه 
                    Charity:'',
                    // فعالیت های جانبی - سایر
                    Others:'',
                    // موقعیت مکان - منطقه
                    Area:'',
                    // موقعیت مکان - ناحیه
                    LocArea:'',
                    //  موقعیت مکان - محله
                    TheNeighbourhood:'',
                    // موقعیت مکان - خیابان اصلی
                    TheMainStreet:'',
                    // موقعیت مکان - خیابان فرعی
                    AuxiliaryRoad:'',
                    // موقعیت مکان - کوچه
                    Alley:'',
                    // موقعیت مکان - پلاک
                    Plaque:'',
                    // نیازمندی های ضروری
                    EssentialRequirementsOfTheBoard:'',
                    // انتخاب محله 
                    LocationId:''
                }
            },
            getData:function(){
                let search = this.search;
                let $this=this;
                $.ajax({
                    url:'/Admin/Heiat/ApiGet',
                    method:'Post',
                    data:search,
                    success:function(response) {
                        $this.search=response;
                        $this.search.pageSize=$this.search.currentPage;
                    }
                })
            }
        } , 
        created:function(){
            this.getData()
        }
    })

    $(function(){
        var customOptions = {
			placeholder: "روز / ماه / سال"
			, twodigit: false
			, closeAfterSelect: false
			, nextButtonIcon: "fa fa-arrow-circle-right"
			, previousButtonIcon: "fa fa-arrow-circle-left"
			, buttonsColor: "blue"
			, forceFarsiDigits: true
			, markToday: true
			, markHolidays: true
			, highlightSelectedDay: true
			, sync: true
			, gotoToday: true
		}
        kamaDatepicker('time',customOptions);
    })
</script>




