
@{
    ViewData["Title"] = "هیات مذهبی منطقه ۱۸ تهران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <script src="~/lib/vue/vue.min.js"></script>

<style>
    header.style1 {
        background: rgba(0,0,0,1);
    }

    .gap {
        padding:150px 0 50px;
    }

    @@media (max-width:767px) {
        .gap {
            padding:30px 0;
        }
    }

    .team-box2 > img {
        width:100px;
        height:100px;
    }

    .page-item:first-child .page-link , .page-item:last-child .page-link {
        border-radius: 50% !important;
    }
    .page-link {
        padding:0;
        border-color:green !important;
    }
    .page-link:hover , .page-item.active > .page-link {
        
        background-color:green !important;
    }
    .modal-header {
            background-color: #6ee26e;
    }
    .modal-title {
        font-size:20px;
        color:#fff;
    }

    .modal-dialog {
        height: 80% !important;
        padding-top:10%;
    }

    .modal-content {
        height: 100% !important;
        overflow:visible;
    }

    .modal-body {
        height: 80%;
        overflow: auto;
    }

    .btn {
        font-size:13px;
    }
</style>

<div class="gap" id="app" v-cloak>
    <div class="container">
        <div class="sec-title style2 text-center">
            <div class="sec-title-inner">
                <span>هیات مذهبی منطقه ۱۸ تهران</span>
                <h3>هیات مذهبی منطقه ۱۸ تهران (منطقه حضرت زهرا سلام الله علیها)</h3>
            </div>
            <p>لیست هیات مذهبی منطقه ۱۸ تهران را می توانید مشاهده کنید </p>
             <hr />
             <div class="row">
                 <div class="col-md-4 col-12 col-sm-12">
                     <div class="form-group">
                        <label>تعداد آیتم نمایشی </label>
                        <select v-on:change="changeSelect()" v-model="search.pageSize" class="form-control">
                            <option value="8">۸</option>
                            <option value="12">۱۲</option>
                            <option value="16">۱۶</option>
                            <option value="20">۲۰</option>
                            <option value="24">24</option>
                            <option value="28">28</option>
                        </select>
                    </div>
                 </div>
                 <div class="col-md-4 col-12 col-sm-12">
                     <div class="form-group">
                        <label>روز هفته </label>
                        <select v-on:change="changeSelect()" v-model="search.day" class="form-control">
                            <option value="">همه روزهای هفته</option>
                            <option value="شنبه">شنبه</option>
                            <option value="یکشنبه">یکشنبه</option>
                            <option value="دوشنبه">دوشنبه</option>
                            <option value="سه شنبه">سه شنبه</option>
                            <option value="چهار شنبه">چهار شنبه</option>
                            <option value="پنج شنبه">پنج شنبه</option>
                            <option value="جمعه">جمعه</option>
                        </select>
                    </div>
                 </div>
                 <div class="col-md-4 col-12 col-sm-12">
                     <div class="form-group">
                        <label>انتخاب محله</label>
                        <select v-on:change="changeSelect()" v-model="search.locationId" class="form-control">
                            <option value="">همه محله های منطقه 18 </option>
                            <option v-for="item in location" :value="item.id">{{item.title}}</option>
                        </select>
                    </div>
                 </div>
             </div>
             <hr />
        </div>
        <div class="team-wrap2 text-center remove-ext3 mt-0">
            <div class="row" v-if="data.length!=0">
                <div class="col-md-3 col-sm-6 col-lg-3" v-for="item in data">
                    <div class="team-box2" data-toggle="modal" data-target="#myModal">
                        <img src="~/theme/img/heiat.jpg" alt="">
                        <div class="team-info2">
                            <h4>{{item.name}}</h4>
                            <p>{{item.locationTitle}}</p>
                            <div class="team-scl">
                                <a href="team.html#" title="توییتر" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="team.html#" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="team.html#" title="تلگرام" target="_blank"><i class="fa fa-send"></i></a>
                                <a href="team.html#" title="فیسبوک" class="fa fa-facebook"></a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div v-if="data.length==0 && !loading">
                <div class="sec-title style2 text-center">
                    <div class="sec-title-inner">
                        <span>هیات مذهبی منطقه ۱۸ تهران</span>
                        <h3>اطلاعاتی یافت نشد </h3>
                    </div>
                </div>
            </div>
            <div v-if="loading" class="text-center mb-3">
                <div>
                    <i class="fa fa-spin fa-spinner" style="font-size:20px;"></i>
                </div>
                <div style="font-weight:bold;color:#2a486c">در حال بارگیری اطلاعات</div>
            </div>
        </div><!-- Team Wrap -->
        <div class="text-center  clear" v-if="search.totalPages !=search.currentPage && search.totalPages!=0">
            <button v-on:click="moreData()" class="btn btn-outline-success mt-5">مشاهده اطلاعات بیشتر</button>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">هییٔت قایٔمیون</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">بستن</button>
      </div>

    </div>
  </div>
</div>

<script>
    var app = new Vue({
        el:'#app',
        data: {
            location:[],
            data:[],
            search:{
                pageNumber:1,
                pageSize:8,
                day:'',
                locationId:'',
                currentPage:1,
                totalPages:1
            } ,
            loading:true,
        },
        methods:{
            getData:function() {
                var $this=this;
                this.loading=true;
                $.ajax({
                    url:'/Heiat/Search',
                    method:'Post',
                    data:$this.search,
                    success:function(response) {   
                        var newArray = response.data;
                        var array = newArray.concat(app.data)
                        app.data=array;
                        app.loading=false;
                        app.search.currentPage=response.currentPage;
                        app.search.pageNumber=response.currentPage;
                        app.search.totalPages=response.totalPages;
                    }
                })
            } ,
            changeSelect:function() {
                this.search.pageNumber=1;
                this.data = []
                this.getData()
            },
            moreData:function() {
                this.search.currentPage++;
                this.search.pageNumber = this.search.currentPage
                this.getData()
            }
        },
        created:function() {
            this.getData()
        }
    })

    $(function() {       
        $.ajax({
            url:'/Admin/Location/ApiGet',
            success:function(response) {               
                app.location = response;      
                app.search.pageNumber = app.data.currentPage          
            }
        })
    })
</script>