
@{
    ViewData["Title"] = "هیات مذهبی منطقه ۱۸ تهران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    header.style1 {
        background: rgba(0,0,0,1);
    }

    .gap {
        padding:150px 0;
    }

    @@media (max-width:767px) {
        .gap {
            padding:30px 0;
        }
    }

    .team-box2 > img {
        width:100px;
        height:100px;
    }

    .page-item:first-child .page-link , .page-item:last-child .page-link {
        border-radius: 50% !important;
    }
    .page-link {
        padding:0;
        border-color:green !important;
    }
    .page-link:hover , .page-item.active > .page-link {
        
        background-color:green !important;
    }
    .modal-header {
            background-color: #6ee26e;
    }
    .modal-title {
        font-size:20px;
        color:#fff;
    }

    .modal-dialog {
        height: 80% !important;
        padding-top:10%;
    }

    .modal-content {
        height: 100% !important;
        overflow:visible;
    }

    .modal-body {
        height: 80%;
        overflow: auto;
    }
</style>

<div class="gap" id="app">
    <div class="container">
        <div class="sec-title style2 text-center">
            <div class="sec-title-inner">
                <span>هیات مذهبی منطقه ۱۸ تهران</span>
                <h3>هیات مذهبی منطقه ۱۸ تهران (منطقه حضرت زهرا سلام الله علیها)</h3>
            </div>
            <p>لیست هیات مذهبی منطقه ۱۸ تهران را می توانید مشاهده کنید </p>
             <hr />
             <div class="row">
                 <div class="col-md-4 col-12 col-sm-12">
                     <div class="form-group">
                        <label>تعداد آیتم نمایشی </label>
                        <select class="form-control">
                            <option>۸</option>
                            <option>۱۲</option>
                            <option>۱۶</option>
                            <option>۲۰</option>
                        </select>
                    </div>
                 </div>
                 <div class="col-md-4 col-12 col-sm-12">
                     <div class="form-group">
                        <label>روز هفته </label>
                        <select class="form-control">
                            <option value="">همه روزهای هفته</option>
                            <option>شنبه</option>
                            <option>یکشنبه</option>
                            <option>دوشنبه</option>
                            <option>سه شنبه</option>
                            <option>چهار شنبه</option>
                            <option>پنج شنبه</option>
                            <option>جمعه</option>
                        </select>
                    </div>
                 </div>
                 <div class="col-md-4 col-12 col-sm-12">
                     <div class="form-group">
                        <label>انتخاب محله</label>
                        <select class="form-control">
                            <option value="">همه محله های منطقه 18 </option>
                            <option v-for="item in location" :value="item.id">{{item.title}}</option>
                        </select>
                    </div>
                 </div>
             </div>
             <hr />
        </div>
        <div class="team-wrap2 text-center remove-ext3 mt-0">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-lg-3">
                    <div class="team-box2" data-toggle="modal" data-target="#myModal">
                        <img src="~/theme/img/heiat.jpg" alt="">
                        <div class="team-info2">
                            <h4>هییٔت قایٔمیون</h4>
                            <p>شهرک صاحب الزمان خیابان نیک ملکی کوچه سحر حسینیه سیدالشهدا علیه السلام</p>
                            <div class="team-scl">
                                <a href="team.html#" title="توییتر" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="team.html#" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="team.html#" title="تلگرام" target="_blank"><i class="fa fa-send"></i></a>
                                <a href="team.html#" title="فیسبوک" class="fa fa-facebook"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3">
                    <div class="team-box2" data-toggle="modal" data-target="#myModal">
                        <img src="~/theme/img/heiat.jpg" alt="">
                        <div class="team-info2">
                            <h4>هییٔت قایٔمیون</h4>
                            <p>شهرک صاحب الزمان خیابان نیک ملکی کوچه سحر حسینیه سیدالشهدا علیه السلام</p>
                            <div class="team-scl">
                                <a href="team.html#" title="توییتر" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="team.html#" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="team.html#" title="تلگرام" target="_blank"><i class="fa fa-send"></i></a>
                                <a href="team.html#" title="فیسبوک" class="fa fa-facebook"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3">
                    <div class="team-box2" data-toggle="modal" data-target="#myModal">
                        <img src="~/theme/img/heiat.jpg" alt="">
                        <div class="team-info2">
                            <h4>هییٔت قایٔمیون</h4>
                            <p>شهرک صاحب الزمان خیابان نیک ملکی کوچه سحر حسینیه سیدالشهدا علیه السلام</p>
                            <div class="team-scl">
                                <a href="team.html#" title="توییتر" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="team.html#" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="team.html#" title="تلگرام" target="_blank"><i class="fa fa-send"></i></a>
                                <a href="team.html#" title="فیسبوک" class="fa fa-facebook"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3">
                    <div class="team-box2" data-toggle="modal" data-target="#myModal">
                        <img src="~/theme/img/heiat.jpg" alt="">
                        <div class="team-info2">
                            <h4>هییٔت قایٔمیون</h4>
                            <p>شهرک صاحب الزمان خیابان نیک ملکی کوچه سحر حسینیه سیدالشهدا علیه السلام</p>
                            <div class="team-scl">
                                <a href="team.html#" title="توییتر" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="team.html#" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="team.html#" title="تلگرام" target="_blank"><i class="fa fa-send"></i></a>
                                <a href="team.html#" title="فیسبوک" class="fa fa-facebook"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3">
                    <div class="team-box2" data-toggle="modal" data-target="#myModal">
                        <img src="~/theme/img/heiat.jpg" alt="">
                        <div class="team-info2">
                            <h4>هییٔت قایٔمیون</h4>
                            <p>شهرک صاحب الزمان خیابان نیک ملکی کوچه سحر حسینیه سیدالشهدا علیه السلام</p>
                            <div class="team-scl">
                                <a href="team.html#" title="توییتر" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="team.html#" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="team.html#" title="تلگرام" target="_blank"><i class="fa fa-send"></i></a>
                                <a href="team.html#" title="فیسبوک" class="fa fa-facebook"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3">
                    <div class="team-box2" data-toggle="modal" data-target="#myModal">
                        <img src="~/theme/img/heiat.jpg" alt="">
                        <div class="team-info2">
                            <h4>هییٔت قایٔمیون</h4>
                            <p>شهرک صاحب الزمان خیابان نیک ملکی کوچه سحر حسینیه سیدالشهدا علیه السلام</p>
                            <div class="team-scl">
                                <a href="team.html#" title="توییتر" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="team.html#" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="team.html#" title="تلگرام" target="_blank"><i class="fa fa-send"></i></a>
                                <a href="team.html#" title="فیسبوک" class="fa fa-facebook"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3">
                    <div class="team-box2" data-toggle="modal" data-target="#myModal">
                        <img src="~/theme/img/heiat.jpg" alt="">
                        <div class="team-info2">
                            <h4>هییٔت قایٔمیون</h4>
                            <p>شهرک صاحب الزمان خیابان نیک ملکی کوچه سحر حسینیه سیدالشهدا علیه السلام</p>
                            <div class="team-scl">
                                <a href="team.html#" title="توییتر" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="team.html#" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="team.html#" title="تلگرام" target="_blank"><i class="fa fa-send"></i></a>
                                <a href="team.html#" title="فیسبوک" class="fa fa-facebook"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-lg-3">
                    <div class="team-box2" data-toggle="modal" data-target="#myModal">
                        <img src="~/theme/img/heiat.jpg" alt="">
                        <div class="team-info2">
                            <h4>هییٔت قایٔمیون</h4>
                            <p>شهرک صاحب الزمان خیابان نیک ملکی کوچه سحر حسینیه سیدالشهدا علیه السلام</p>
                            <div class="team-scl">
                                <a href="team.html#" title="توییتر" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="team.html#" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="team.html#" title="تلگرام" target="_blank"><i class="fa fa-send"></i></a>
                                <a href="team.html#" title="فیسبوک" class="fa fa-facebook"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Team Wrap -->
        <div class="text-center  clear">
            <ul class="pagination mt-5">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">هییٔت قایٔمیون</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">بستن</button>
      </div>

    </div>
  </div>
</div>

<script>
    var app = new Vue({
        el:'#app',
        data: {
            location:[]
        }
    })

    $(function() {       
        $.ajax({
            url:'/Admin/Location/ApiGet',
            success:function(response) {               
                app.location = response;                
            }
        })
    })
</script>