<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/icons.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/fancybox.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/jquery.circliful.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/rtl.css">
    <link rel="stylesheet" href="~/css/shabnam.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- Color Scheme -->
    <link rel="stylesheet" href="~/css/color3.css" title="color"><!-- Color -->

</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/js/jquery.min.js.download"></script>
    <script src="~/js/bootstrap.min.js.download"></script>
    <script src="~/js/downCount.js.download"></script>
    <script src="~/js/fancybox.min.js.download"></script>
    <script src="~/js/isotope.pkgd.min.js.download"></script>
    <script src="~/js/perfectscrollbar.min.js.download"></script>
    <script src="~/js/wow.min.js.download"></script>
    <script src="~/js/owl.carousel.min.js.download"></script>
    <script src="~/js/jquery.circliful.min.js.download"></script>
    <script src="~/js/custom-scripts.js.download"></script>
</body>
</html>
