
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <section>
            <div class="gap no-gap owl-yellow">
                <div class="featured-area-wrap text-center">
                    <div class="featured-area owl-carousel owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(-3806px, 0px, 0px); transition: all 0s ease 0s; width: 11418px;">
                                <div class="owl-item active" style="width: 1903px;">
                                    <div class="featured-item" style="background-image: url(/theme/img/slide1.jpg)">
                                        <div class="featured-cap">
                                            <img src="~/theme/img/bsml-txt.png" alt="bsml-txt.png"
                                                style="transition-delay: 0ms;">
                                            <h1 style="transition-delay: 200ms;"><img src="~/theme/img/ayat-txt.png"
                                                    alt="ayat-txt-color.png"></h1>
                                            <h3 style="transition-delay: 400ms;">و آسمان را برافراشت و ترازو را گذاشت
                                            </h3>
                                            <span style="transition-delay: 600ms;">"سوره الرحمن آیه 7"</span>
                                            <a class="thm-btn brd-rd40" href="##" title=""
                                                style="transition-delay: 800ms;">بیشتر بخوانید</a>
                                        </div>
                                    </div>
                            </div>
                        </div>                       
                    </div>
                </div><!-- Featured Area Wrap -->
            </div>
        </section>
        <section>
            <div class="gap">
                <div class="lft-shp shp-lyr"></div>
                <div class="container">
                    <div class="plrs-wrap text-center remove-ext5">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="plr-box">
                                    <i class="flaticon-islamic-pray"></i>
                                    <div class="pilr-info">
                                        <h4>نماز </h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="plr-box">
                                    <i class="flaticon-islamic-ramadan"></i>
                                    <div class="pilr-info">
                                        <h4>روزه</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="plr-box">
                                    <i class="flaticon-charity"></i>
                                    <div class="pilr-info">
                                        <h4>زکات</h4>
                                       <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="plr-box">
                                    <i class="flaticon-kaaba-building"></i>
                                    <div class="pilr-info">
                                        <h4>حج</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Pillers Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="gap white-grad-layer">
                <div class="fixed-bg" style="background-image: url(/theme/img/parallax1.jpg);"></div>
                <div class="container">
                    <div class="abot-wrap">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <div class="abot-sec">
                                    <div class="sec-title">
                                        <div class="sec-title-inner">
                                            <span>چند کلمه ای درباره ما</span>
                                            <h3>تاریخچه مرکز جامعه</h3>
                                        </div>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    <a class="secndry-btn brd-rd40" href="##" title="">بیشتر بدانید</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- About Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="gap">
                <div class="fixed-bg" style="background-image: url(/theme/img/parallax2.jpg);"></div>
                <div class="container">
                    <div class="sec-title text-center">
                        <div class="sec-title-inner">
                            <span>خدمات بشر دوستانه</span>
                            <h3>خدمات ما</h3>
                        </div>
                    </div>
                    <div class="serv-wrap">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <div class="srv-tl">
                                    <h2><span>کمک و همیاری</span>مردم</h2>
                                    <h5>برای ما مهم است.</h5>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12 col-lg-8">
                                <div class="remove-ext9">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="serv-box">
                                                <i class="flaticon-quran-rehal"></i>
                                                <div class="serv-info">
                                                    <h4>آموزش قرآن</h4>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
													</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="serv-box">
                                                <i class="flaticon-heart-1"></i>
                                                <div class="serv-info">
                                                    <h4>خدمات خیریه و کمک</h4>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
													</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="serv-box">
                                                <i class="flaticon-mosque"></i>
                                                <div class="serv-info">
                                                    <h4>ساخت مساجد</h4>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
													</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="serv-box">
                                                <i class="flaticon-social-care"></i>
                                                <div class="serv-info">
                                                    <h4>کمک به فقرا</h4>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
													</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Serv Wrap -->
                </div>
            </div>
        </section>
		
		<section>
            <div class="gap black-layer2 opc8 style-4-donate">
                <div class="fixed-bg" style="background-image: url(/theme/img/parallax3.jpg);"></div>
                <div class="container">
                    <div class="sec-title2 text-center">
                        <div class="sec-title-inner">
                            <span>حمایت از ما</span>
                            <h3>ما به کمک شما نیازمندیم</h3>
                        </div>
                        <p>ما برای دستیافتن به هدف های کوتاه مدت و بلند مدت خود نیازمند کمک های شما هستیم تا مرکز اسلامی پایدار بماند. 
						</p>
                    </div>

                    <div class="view-all text-center">
                        <a class="thm-btn brd-rd40" href="##" title="">همین الان کمک کن</a>
                    </div><!-- View All -->
                </div>
            </div>
        </section>

