
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <section>
            <div class="gap no-gap owl-yellow">
                <div class="featured-area-wrap text-center">
                    <div class="featured-area owl-carousel owl-loaded owl-drag">
                        
                        
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3806px, 0px, 0px); transition: all 0s ease 0s; width: 11418px;"><div class="owl-item cloned" style="width: 1903px;"><div class="featured-item" style="background-image: url(/theme/img/slide1.jpg);">
                            <div class="featured-cap">
                                <img src="~/theme/img/bsml-txt.png" alt="bsml-txt.png" style="transition-delay: 0ms;">
                                <h1 style="transition-delay: 200ms;"><img src="~/theme/img/ayat-txt.png" alt="ayat-txt-color.png"></h1>
                                <h3 style="transition-delay: 400ms;">و آسمان را برافراشت و ترازو را گذاشت</h3>
                                <span style="transition-delay: 600ms;">"سوره الرحمن آیه 7"</span>
                                <a class="thm-btn brd-rd40" href="##" title="" style="transition-delay: 800ms;">بیشتر بخوانید</a>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1903px;"><div class="featured-item" style="background-image: url(/theme/img/slide1.jpg);">
                            <div class="featured-cap">
                                <img src="~/theme/img/bsml-txt2.png" alt="bsml-txt2.png" style="transition-delay: 0ms;">
                                <h1 style="transition-delay: 200ms;"><img src="~/theme/img/ayat-txt2.png" alt="ayat-txt2.png"></h1>
                                <h3 style="transition-delay: 400ms;">و آسمان را برافراشت و ترازو را گذاشت</h3>
                                <span style="transition-delay: 600ms;">"سوره الرحمن آیه 7"</span>
                                <a class="thm-btn brd-rd40" href="##" title="" style="transition-delay: 800ms;">بیشتر بخوانید</a>
                            </div>
                        </div></div><div class="owl-item active" style="width: 1903px;"><div class="featured-item" style="background-image: url(/theme/img/slide1.jpg);">
                            <div class="featured-cap">
                                <img src="~/theme/img/bsml-txt.png" alt="bsml-txt.png" style="transition-delay: 0ms;">
                                <h1 style="transition-delay: 200ms;"><img src="~/theme/img/ayat-txt.png" alt="ayat-txt-color.png"></h1>
                                <h3 style="transition-delay: 400ms;">و آسمان را برافراشت و ترازو را گذاشت</h3>
                                <span style="transition-delay: 600ms;">"سوره الرحمن آیه 7"</span>
                                <a class="thm-btn brd-rd40" href="##" title="" style="transition-delay: 800ms;">بیشتر بخوانید</a>
                            </div>
                        </div></div><div class="owl-item" style="width: 1903px;"><div class="featured-item" style="background-image: url(/theme/img/slide1.jpg);">
                            <div class="featured-cap">
                                <img src="~/theme/img/bsml-txt2.png" alt="bsml-txt2.png" style="transition-delay: 0ms;">
                                <h1 style="transition-delay: 200ms;"><img src="~/theme/img/ayat-txt2.png" alt="ayat-txt2.png"></h1>
                                <h3 style="transition-delay: 400ms;">و آسمان را برافراشت و ترازو را گذاشت</h3>
                                <span style="transition-delay: 600ms;">"سوره الرحمن آیه 7"</span>
                                <a class="thm-btn brd-rd40" href="##" title="" style="transition-delay: 800ms;">بیشتر بخوانید</a>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1903px;"><div class="featured-item" style="background-image: url(/theme/img/slide1.jpg);">
                            <div class="featured-cap">
                                <img src="~/theme/img/bsml-txt.png" alt="bsml-txt.png" style="transition-delay: 0ms;">
                                <h1 style="transition-delay: 200ms;"><img src="~/theme/img/ayat-txt.png" alt="ayat-txt-color.png"></h1>
                                <h3 style="transition-delay: 400ms;">و آسمان را برافراشت و ترازو را گذاشت</h3>
                                <span style="transition-delay: 600ms;">"سوره الرحمن آیه 7"</span>
                                <a class="thm-btn brd-rd40" href="##" title="" style="transition-delay: 800ms;">بیشتر بخوانید</a>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1903px;"><div class="featured-item" style="background-image: url(/theme/img/slide1.jpg);">
                            <div class="featured-cap">
                                <img src="~/theme/img/bsml-txt2.png" alt="bsml-txt2.png" style="transition-delay: 0ms;">
                                <h1 style="transition-delay: 200ms;"><img src="~/theme/img/ayat-txt2.png" alt="ayat-txt2.png"></h1>
                                <h3 style="transition-delay: 400ms;">و آسمان را برافراشت و ترازو را گذاشت</h3>
                                <span style="transition-delay: 600ms;">"سوره الرحمن آیه 7"</span>
                                <a class="thm-btn brd-rd40" href="##" title="" style="transition-delay: 800ms;">بیشتر بخوانید</a>
                            </div>
                        </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-up"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-down"></i></button></div><div class="owl-dots disabled"></div></div>
                </div><!-- Featured Area Wrap -->
            </div>
        </section>
        <section>
            <div class="gap">
                <div class="lft-shp shp-lyr"></div>
                <div class="container">
                    <div class="plrs-wrap text-center remove-ext5">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="plr-box">
                                    <i class="flaticon-islamic-pray"></i>
                                    <div class="pilr-info">
                                        <h4>نماز </h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="plr-box">
                                    <i class="flaticon-islamic-ramadan"></i>
                                    <div class="pilr-info">
                                        <h4>روزه</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="plr-box">
                                    <i class="flaticon-charity"></i>
                                    <div class="pilr-info">
                                        <h4>زکات</h4>
                                       <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="plr-box">
                                    <i class="flaticon-kaaba-building"></i>
                                    <div class="pilr-info">
                                        <h4>حج</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Pillers Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="gap white-grad-layer">
                <div class="fixed-bg" style="background-image: url(/theme/img/parallax1.jpg);"></div>
                <div class="container">
                    <div class="abot-wrap">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <div class="abot-sec">
                                    <div class="sec-title">
                                        <div class="sec-title-inner">
                                            <span>چند کلمه ای درباره ما</span>
                                            <h3>تاریخچه مرکز جامعه</h3>
                                        </div>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    <a class="secndry-btn brd-rd40" href="##" title="">بیشتر بدانید</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- About Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="gap">
                <div class="fixed-bg" style="background-image: url(/theme/img/parallax2.jpg);"></div>
                <div class="container">
                    <div class="sec-title text-center">
                        <div class="sec-title-inner">
                            <span>خدمات بشر دوستانه</span>
                            <h3>خدمات ما</h3>
                        </div>
                    </div>
                    <div class="serv-wrap">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <div class="srv-tl">
                                    <h2><span>کمک و همیاری</span>مردم</h2>
                                    <h5>برای ما مهم است.</h5>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12 col-lg-8">
                                <div class="remove-ext9">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="serv-box">
                                                <i class="flaticon-quran-rehal"></i>
                                                <div class="serv-info">
                                                    <h4>آموزش قرآن</h4>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
													</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="serv-box">
                                                <i class="flaticon-heart-1"></i>
                                                <div class="serv-info">
                                                    <h4>خدمات خیریه و کمک</h4>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
													</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="serv-box">
                                                <i class="flaticon-mosque"></i>
                                                <div class="serv-info">
                                                    <h4>ساخت مساجد</h4>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
													</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="serv-box">
                                                <i class="flaticon-social-care"></i>
                                                <div class="serv-info">
                                                    <h4>کمک به فقرا</h4>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
													</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Serv Wrap -->
                </div>
            </div>
        </section>
		
		<section>
            <div class="gap black-layer2 opc8 style-4-donate">
                <div class="fixed-bg" style="background-image: url(/theme/img/parallax3.jpg);"></div>
                <div class="container">
                    <div class="sec-title2 text-center">
                        <div class="sec-title-inner">
                            <span>حمایت از ما</span>
                            <h3>ما به کمک شما نیازمندیم</h3>
                        </div>
                        <p>ما برای دستیافتن به هدف های کوتاه مدت و بلند مدت خود نیازمند کمک های شما هستیم تا مرکز اسلامی پایدار بماند. 
						</p>
                    </div>

                    <div class="view-all text-center">
                        <a class="thm-btn brd-rd40" href="##" title="">همین الان کمک کن</a>
                    </div><!-- View All -->
                </div>
            </div>
        </section>
        
        <section>
            <div class="gap white-layer opc9">
                <div class="fixed-bg ptrn-bg" style="background-image: url(/theme/img/pattern-bg.jpg);"></div>
                <div class="container">
                    <div class="sec-title text-center">
                        <div class="sec-title-inner">
                            <span>مدرسان خبره</span>
                            <h3>دانشمندان اسلامی</h3>
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                    </div>
                    <div class="team-wrap text-center remove-ext5">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="team-box">
                                    <img src="~/theme/img/team-img1-1.jpg" alt="team-img1-1.jpg">
                                    <div class="team-info">
                                        <h4>زهرا</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                        <div class="team-scl">
                                            <a href="##" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="##" title="Pinterest" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                                            <a href="##" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                                            <a href="##" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="team-box">
                                    <img src="~/theme/img/team-img1-2.jpg" alt="team-img1-2.jpg">
                                    <div class="team-info">
                                        <h4>امیر</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                        <div class="team-scl">
                                            <a href="##" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="##" title="Pinterest" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                                            <a href="##" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                                            <a href="##" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="team-box">
                                    <img src="~/theme/img/team-img1-3.jpg" alt="team-img1-3.jpg">
                                    <div class="team-info">
                                        <h4>فاطمه</h4>
                                        <p>نلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                        <div class="team-scl">
                                            <a href="##" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="##" title="Pinterest" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                                            <a href="##" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                                            <a href="##" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Team Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="gap gray-layer opc95">
                <div class="fixed-bg" style="background-image: url(/theme/img/parallax4.jpg);"></div>
                <div class="container">
                    <div class="evnt-pry-wrap">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-lg-8">
                                <div class="sec-title">
                                    <div class="sec-title-inner">
                                        <h3>رویداد های<span>اخیر</span></h3>
                                    </div>
                                    <p>مرکز اسلامی جامعه رویداد های مختلفی در طول سال برگزار میکند.</p>
                                </div>
                                <div class="evnt-wrap remove-ext5">
                                    <div class="row mrg20">
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="evnt-box">
                                                <div class="evnt-thmb">
                                                    <a href="##" title=""><img src="~/theme/img/evnt-img1.jpg" alt="evnt-img1.jpg"></a>
                                                </div>
                                                <div class="evnt-info">
                                                    <h4>رویداد تدریس اسلامی</h4>
                                                    <ul class="pst-mta">
                                                        <li class="thm-clr">1398/12/12</li>
                                                        <li class="thm-clr">12:00 صبح تا 2:00 ظهر</li>
                                                    </ul>
                                                    <p>شهر اصلی - بخش جدید - مسجد تازه ساخت</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="evnt-box">
                                                <div class="evnt-thmb">
                                                    <a href="##" title=""><img src="~/theme/img/evnt-img2.jpg" alt="evnt-img2.jpg"></a>
                                                </div>
                                                <div class="evnt-info">
                                                    <h4>رویداد تدریس اسلامی</h4>
                                                    <ul class="pst-mta">
                                                        <li class="thm-clr">1398/12/12</li>
                                                        <li class="thm-clr">12:00 صبح تا 2:00 ظهر</li>
                                                    </ul>
                                                    <p>شهر اصلی - بخش جدید - مسجد تازه ساخت</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Events Wrap -->
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <div class="sec-title">
                                    <div class="sec-title-inner">
                                        <h3>اوقات <span>شرعی</span></h3>
                                    </div>
                                </div>
                                <ul class="prayer-times">
                                    <li class="pry-tim-hed"><span>نماز</span><span>شروع</span><span>پایان</span></li>
                                    <li><span class="thm-clr">صبح</span><span>03:58 قبل از ظهر</span><span>04:45 قبل از ظهر</span></li>
                                    <li><span class="thm-clr">طلوع خورشید</span><span>05:31 قبل از ظهر</span><span>05:31 قبل از ظهر</span></li>
                                    <li><span class="thm-clr">ظهر</span><span>12:47 بعد از ظهر</span><span>12:47 بعد از ظهر</span></li>
                                    <li><span class="thm-clr">غروب آفتاب</span><span>05:53 بعد از ظهر</span><span>05:50 بعد از ظهر</span></li>
                                    <li><span class="thm-clr">مغرب</span><span>08:04 بعد از ظهر</span><span>08:04 بعد از ظهر</span></li>
                                    <li><span class="thm-clr">نیمه شب</span><span>09:37 بعد از ظهر</span><span>09:30 بعد از ظهر</span></li>
                                    <li><span class="thm-clr">فضیلت نافله شب</span><span>01:15 بعد از ظهر</span><span>01:15 بعد از ظهر</span></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- Events & Prayer Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="gap white-layer opc9">
                <div class="fixed-bg ptrn-bg" style="background-image: url(/theme/img/pattern-bg.jpg);"></div>
                <div class="container">
                    <div class="sec-title text-center">
                        <div class="sec-title-inner">
                            <span>آخرین دیدگاه های</span>
                            <h3>خیران</h3>
                        </div>
                    </div>
                    <div class="testi-wrap text-center">
                        <div class="testi-car owl-carousel owl-loaded owl-drag">
                            
                            
                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2580px, 0px, 0px); transition: all 0s ease 0s; width: 5160px;"><div class="owl-item cloned" style="width: 860px;"><div class="testi-itm">
                                <i><img src="~/theme/img/testi-img1.jpg" alt="testi-img1.jpg"></i>
                                <div class="testi-info">
                                    <h4>محمد</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 860px;"><div class="testi-itm">
                                <i><img src="~/theme/img/team-img2-2.jpg" alt="testi-img2.jpg"></i>
                                <div class="testi-info">
                                    <h4>محمد</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                </div>
                            </div></div><div class="owl-item" style="width: 860px;"><div class="testi-itm">
                                <i><img src="~/theme/img/testi-img1.jpg" alt="testi-img1.jpg"></i>
                                <div class="testi-info">
                                    <h4>محمد</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                </div>
                            </div></div><div class="owl-item active" style="width: 860px;"><div class="testi-itm">
                                <i><img src="~/theme/img/team-img2-2.jpg" alt="testi-img2.jpg"></i>
                                <div class="testi-info">
                                    <h4>محمد</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 860px;"><div class="testi-itm">
                                <i><img src="~/theme/img/testi-img1.jpg" alt="testi-img1.jpg"></i>
                                <div class="testi-info">
                                    <h4>محمد</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 860px;"><div class="testi-itm">
                                <i><img src="~/theme/img/team-img2-2.jpg" alt="testi-img2.jpg"></i>
                                <div class="testi-info">
                                    <h4>محمد</h4>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                </div>
                            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-up"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-down"></i></button></div><div class="owl-dots disabled"></div></div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="gap thm-layer opc9">
                <div class="fixed-bg" style="background-image: url(/theme/img/parallax7.jpg);"></div>
                <div class="container">
                    <div class="nwsltr-wrp text-center">
                        <div class="nwsltr-innr">
                            <div class="nwsltr-title">
                                <h3>عضویت در خبرنامه</h3>
                                <span>دریافت آخرین اخبار، رویداد ها و مراسمات</span>
                            </div>
                            <form>
                                <input type="email" placeholder="ایمیل خود را وارد کنید">
                                <button type="submit">عضویت در خبرنامه</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

