
@{
    ViewData["Title"] = "مدیریت محله ها - پنل ادمین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="app">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">صفحه اصلی پنل ادمین </a></li>
        <li class="breadcrumb-item active">مدیریت محله ها</li>
    </ol>

    <div class="row">
        <div class="col-xl-12 col-12 mb-4 mb-xl-0">
            <div class="text-right">
                <button class="btn btn-outline-dark" v-on:click="openModalAdd()">اضافه نمودن محله جدید </button>
            </div>
            <h3 class="text-muted text-center mb-3">لیست محله های ثبت شده </h3>
            <table class="table table-striped bg-light text-center ">
            <thead>
                <tr class="text-muted">
                    <th>#</th>
                    <th>نام محله </th>
                    <th>نام مسئول محله </th>
                    <th>شماره مسئول محله</th>
                    <th>تعداد مسئول جانشین</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="loading">
                    <td colspan="6">
                        <img src="~/img/ajax-loader.gif" class="ajax-loader" />
                    </td>
                </tr>
                <tr v-if="!loading" v-for="(item , index) in datas">
                    <td>{{++index}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.managerFullName}}</td>
                    <td>
                        <div v-for="phoneNumber in item.managerPhoneNumbers">{{phoneNumber}}</div>
                    </td>
                    <td>{{item.countSuccessor}}</td>
                    <td>
                        <button class="btn btn-info" v-on:click="editLocation(item)">ویرایش </button>
                         <button :data-id="item.id" data-role="deleteLocation" type="button" v-on:click="deleteLocation(item.id)" class="btn btn-danger ladda-button" data-style="slide-right">
                            <span  class="ladda-label">حذف</span>                           
                        </button>
                        <button class="btn btn-success" v-on:click="openModalSuccessor()">اضافه نمودن جانشین</button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade " id="modalLocation">
        <div class="modal-dialog">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 v-if="state=='add'" class="modal-title">اضافه نمودن محله جدید </h4>
                <h4 v-if="state=='edit'" class="modal-title">ویرایش نمودن محله  </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <label>نام محله را وارد کنید</label>
                    <input type="text" v-model="location.name" class="form-control" placeholder="نام محله">
                </div>
                <div class="form-group">
                    <label>نام مسئول محله را وارد کنید</label>
                    <input type="text" v-model="location.manager" class="form-control" placeholder="نام مسئول محله">
                </div>
                <div class="row align-center">
                    <div class="col-7">
                        <div class="form-group">
                            <label>   شماره تلفن مسئول را وارد کنید</label>
                            <div class="d-flex align-center mb-1" v-for="(item,index) in location.phoneNumber">
                                <input v-model="item.value" type="text" class="form-control" placeholder="شماره تلفن مسئول">
                                <i v-on:click="deletePhoneNumber(index)" class="fa fa-times fa-lg text-danger mr-1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <button  class="btn btn-info btn-block" v-on:click="addPhoneNumber()">
                            اضافه نمودن شماره جدید 
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">        
                <button data-role="addLocation" type="button" v-on:click="addLocation()" class="btn btn-success w-100 mr-1 ladda-button" data-style="slide-right">
                    <span v-if="state=='add'" class="ladda-label">ثبت اطلاعات</span>
                    <span v-if="state=='edit'" class="ladda-label">ویرایش اطلاعات</span>
                </button>
            </div>

            </div>
        </div>
    </div>

    <div class="modal fade " id="modalSuccessor">
        <div class="modal-dialog">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4  class="modal-title">اضافه نمودن جانشین جدید </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <label>نام جانشین را وارد کنید</label>
                    <input type="text" v-model="successor.name" class="form-control" placeholder="نام جانشین">
                </div>                
                <div class="row align-center">
                    <div class="col-7">
                        <div class="form-group">
                            <label>   شماره تلفن جانشین را وارد کنید</label>
                            <div class="d-flex align-center mb-1" v-for="(item,index) in successor.phoneNumber">
                                <input v-model="item.value" type="text" class="form-control" placeholder="شماره تلفن مسئول">
                                <i v-on:click="deletePhoneNumber(index)" class="fa fa-times fa-lg text-danger mr-1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <button  class="btn btn-info btn-block" v-on:click="addPhoneNumber()">
                            اضافه نمودن شماره جدید 
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">        
                <button data-role="addSuccessor" type="button" v-on:click="addSuccessor()" class="btn btn-success w-100 mr-1 ladda-button" data-style="slide-right">
                    <span  class="ladda-label">ثبت اطلاعات</span>                   
                </button>
            </div>

            </div>
        </div>
    </div>
</div>

<script>
   var app= new Vue({
        el:'#app',
        data:{
            location:{
                id:'',
                name:'',
                manager:'',
                phoneNumber:[{value:''}]
            },
            successor : {
                id:'',
                name:'',
                phoneNumber:[{value:''}]
            },
            loading:true,
            datas:[],
            state : 'add'
        },
        methods : {
            // محله ها 
            getData:function(){
                this.loading=true;
                this.datas=[];
                $.ajax({
                    url:'/Admin/Location/ApiGet',
                    success:function(response){                                           
                        app.loading=false;
                        app.datas=response;
                    },
                    error:function(error){
                        toastr.error('در برقراری با سرور به مشکل خوردیم دوباره تلاش کنید ')
                    }
                })
            },
            addLocation:function(){                               
                if(this.location.name=='') {
                    toastr.error('نام محله نمی تواند خالی باشد ')
                    return
                }
                var l = Ladda.create(document.querySelector('[data-role="addLocation"]'));
                l.start();
                var location = this.location;
                var data = {
                    id:location.id,
                    title:location.name,
                    managerFullName : location.manager,
                    managerPhoneNumbers:[]
                }
                location.phoneNumber.map(function (item) {
                    if(item.value!="") {
                        data.managerPhoneNumbers.push(item.value)
                    }
                })
                var url= '/Admin/Location/ApiCreate';
                if(this.state=='edit'){
                    url='/Admin/Location/ApiEdit'
                }
                $.ajax({
                    url:url,
                    method:'Post',
                    data: data,
                    success:function(response){                     
                        if(response.isSuccess) {
                            toastr.success(response.message)
                            $('#modalLocation').modal('hide')
                            app.getData()
                        }
                        else {
                            toastr.error(response.message)                            
                        }
                        l.stop()                        
                    },
                    error:function(error){
                        toastr.error('در برقراری با سرور به مشکل خوردیم دوباره تلاش کنید ')
                        l.stop()
                    }          
                })                             
            }, 
            addPhoneNumber:function(){debugger
                if(this.state=='add') {
                    this.location.phoneNumber.push({value:''})
                }
                else if(this.state=='successorAdd') {
                    this.successor.phoneNumber.push({value:''})
                }                
            },
            deletePhoneNumber:function(index){
                if(this.state=='add'){
                    this.location.phoneNumber.splice(index, 1);
                }
                else if(this.state=='successorAdd') {
                    this.successor.phoneNumber.splice(index, 1);
                }                
            },
            openModalAdd:function(){  
                this.state = 'add'  ;     
                this.location={
                    name:'',
                    manager:'',
                    phoneNumber:[{value:''}]
                } 
                $('#modalLocation').modal({backdrop: 'static', keyboard: false})
            },
            editLocation:function(loc){
                this.state = 'edit'; 
                this.location= {
                    id:loc.id,
                    manager:loc.managerFullName,
                    name : loc.title,
                    phoneNumber:[]
                }
                loc.managerPhoneNumbers.map(function (item) {                    
                    app.location.phoneNumber.push({value:item})
                })
                $('#modalLocation').modal({backdrop: 'static', keyboard: false})
            },
            deleteLocation:function(id){               
               
                swal({
                    title: "حذف محله ",
                    text: "آیا مطمئن هستید ؟؟ ",
                    type: "warning",
                    showCancelButton: true,                    
                    confirmButtonText: "بله حذف کن",                  
                    cancelButtonText: "نه منصرف شدم",
                    closeOnConfirm: false,
                    confirmButtonColor: "#dc3545",                  

                }, function(){
                    var l = Ladda.create(document.querySelector('[data-role="deleteLocation"][data-id="'+id+'"]'));
                    l.start();
                    swal.close()
                    $.ajax({
                        url:'/Admin/Location/ApiDelete/'+id,                       
                        success:function(response){                     
                            if(response.isSuccess) {
                                toastr.success(response.message)
                                app.getData()
                            }
                            else {
                                toastr.error(response.message)                            
                            }
                            l.stop()                        
                        },
                        error:function(error){
                            toastr.error('در برقراری با سرور به مشکل خوردیم دوباره تلاش کنید ')
                            l.stop()
                        }          
                    }) 
                });
            },

            // جانشین 

            openModalSuccessor:function(){
                this.state = 'successorAdd';     
                this.successor={
                    name:'',
                    phoneNumber:[{value:''}]
                } 
                $('#modalSuccessor').modal({backdrop: 'static', keyboard: false})
            }, 
            addSuccessor:function(){              
                var l = Ladda.create(document.querySelector('[data-role="addSuccessor"]'));
                l.start();
            }
        } , 
        created:function(){
            this.getData()
        }
    })
</script>


