
@{
    ViewData["Title"] = "مدیریت محله ها - پنل ادمین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/admin">صفحه اصلی پنل ادمین </a></li>
  <li class="breadcrumb-item active">مدیریت محله ها </li>
</ol>

