
@{
    ViewData["Title"] = "مدیریت محله ها - پنل ادمین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/admin">صفحه اصلی پنل ادمین </a></li>
  <li class="breadcrumb-item active">مدیریت محله ها </li>
</ol>

<div class="row">
    <div class="col-xl-12 col-12 mb-4 mb-xl-0">
        <div class="text-right">
            <button class="btn btn-outline-dark">اضافه نمودن محله جدید </button>
        </div>
        <h3 class="text-muted text-center mb-3">لیست محله های ثبت شده </h3>
        <table class="table table-striped bg-light text-center ">
        <thead>
            <tr class="text-muted">
                <th>#</th>
                <th>نام</th>
                <th>حقوق</th>
                <th>تاریخ</th>
                <th>تماس</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>فاطمه محسنی</td>
                <td>12,000ريال</td>
                <td>98-02-01</td> 
                <td><button data-role="ladda" type="button" class="btn btn-info btn-sm ladda-button" data-style="slide-right">
                    <span class="ladda-label">لادا باتن</span>
                </button></td>
            </tr>
            <tr>
                <th>2</th>
                <td>علی محسنی</td>
                <td>12,000ريال</td>
                <td>98-02-01</td>
                <td><button type="button" class="btn btn-info btn-sm">پیام</button></td>
            </tr>
            <tr>
                <th>3</th>
                <td>محمد حسین محسنی</td>
                <td>12,000ريال</td>
                <td>98-02-01</td>
                <td><button type="button" class="btn btn-info btn-sm">پیام</button></td>
            </tr>
            <tr>
                <th>4</th>
                <td>رویا محمدی</td>
                <td>12,000ريال</td>
                <td>98-02-01</td>
                <td><button type="button" class="btn btn-info btn-sm">پیام</button></td>
            </tr>
            <tr>
                <th>5</th>
                <td>فاطمه فراهانی</td>
                <td>12,000ريال</td>
                <td>98-02-01</td>
                <td><button type="button" class="btn btn-info btn-sm">پیام</button></td>
            </tr>
            <tr>
                <td colspan="5">
                    <img src="~/img/ajax-loader.gif" class="ajax-loader" />
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<script>
    $(function(){
        $('[data-role="ladda"]').on('click',function() {       
            var l = Ladda.create(this);
            l.start();
            setTimeout(function(){
                l.stop()
            },1000)
        })
    })
</script>


