
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-12 col-12 mb-4 mb-xl-0">
        <div class="row">
            <div class="col-xl-3 col-12 mb-4 mb-xl-0">
                <div class="dashbord">
                  <div class="dashbord__header">                    
                    <div class="dashbord__header__icon fa fa-map-marker"></div>
                    <div>
                      <div class="dashbord__header__title">مدیریت محله ها </div>
                      <div class="dashbord__header__desc">از این قسمت می توانید محله های منطقه ۱۸ را مدیریت کنید </div>
                    </div>
                  </div>
                  <div class="dashbord__body">

                  </div>
                </div>               
            </div>                                     
        </div>      
    </div>
</div>

