<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/fontstyle.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/fontiran.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
